{% extends "main_base.html" %}
{% load static %}
{% load crispy_forms_tags %}
{% block page_title %}{{ app_name }} | ZOMIS form 3f - Child in conflict with the law {% endblock %}
{% block navbar_class_dashboard %}{% endblock %}
{% block navbar_class_registries %}{% endblock %}
{% block navbar_class_beneficiary %}{% endblock %}
{% block navbar_class_forms %}active{% endblock %}

{% block body_page_title %} ZOMIS form 3f - Child in conflict with the law {% endblock %}
{% block breadcrum %}
<li class="hidden"><a href="#">Forms - Child in conflict with the law</a>&nbsp;&nbsp;<i class="fa fa-angle-right"></i>&nbsp;&nbsp;</li>
                    <li>Forms - Child in conflict with the law</li>
{% endblock breadcrum %}
{% block content %}
        <div class="container">
            <div class="row">
            
				{% crispy form %}
			</div>
		</div>
{% endblock content %}

{% block scripts %}
<script src="{% static "ovc_main/js/vendor/jquery.quicksearch.js" %}"></script>
 <script src="{% static "ovc_main/js/forms_general.js" %}"></script>
 <script src="{% static "ovc_main/js/general/multiselect-searchable.js" %}"></script>
 <script src="{% static "ovc_main/js/vendor/range_integer_fields.js" %}"></script>
 <script src="{% static "ovc_main/js/vendor/jquery.jstepper.min.js" %}"></script>
 <script>
 $(document).ready(function() {
 
 //Initializations for interger fields
	//http://jstepper.emkay.dk/
	$("#id_form_type").val('FT3f');
	$('#id_Q101').jStepper({minValue:1, maxValue:999, minLength:1});
	$('#id_Q098').jStepper({minValue:0, maxValue:12, minLength:1});
	
	
  var dob = '{{subject.date_of_birth}}';
  
  var dod = new Date();
  
  if('{{subject.date_of_death}}' != 'None')
  {
  	dod = '{{subject.date_of_death}}';
  }
   
 $('.datepicker').datepicker(
    {
    	maxDate: isDate(dod)?new Date(dod):'0',
        minDate: isDate(dob)?new Date(dob):'-100',
        dateFormat: 'd-MM-yy',
        yearRange: "1904:2030",
        changeMonth: true,
        changeYear: true
    });
		    
  $('.dateinput').datepicker(
    {
    	maxDate: isDate(dod)?new Date(dod):'0',
        minDate: isDate(dob)?new Date(dob):'-100',
        dateFormat: 'd-MM-yy',
        yearRange: "1904:2030",
        changeMonth: true,
        changeYear: true
    });  
  
  //$("#id_date_assessment_comp").prop("min",new Date(dob)); 
  //$("#id_date_assessment_comp").prop("max",new Date(dod)); 
 
    
  $("#submit_child_conflict_form").prop("disabled",true);
  
  $('.controls').on('change',function(){
  	$("#submit_child_conflict_form").removeAttr("disabled");
  });
  
  $('.checkbox').on('ifChanged',function(){
  	$("#submit_child_conflict_form").removeAttr("disabled");
  });
  
  var selDate = new Date('{{subject.date_of_birth}}');
  var today = new Date();
  var val = today - selDate;
  var diff = val / (24*60*60*1000);
  
  if(diff >= 2556.7)
  {
  	$("#id_Q023 option[value='35']").remove();
  	$("#id_Q026 option[value='35']").remove();
  }
  if(diff >= 1826.21)
  {
  	$("#id_Q028 option[value='35']").prop('selected', true);
  	$("#id_Q028").prop('disabled','disabled');
  }
  
  if(!$("#id_Q001_8").prop('checked'))
  {
  	$("#id_Q002").prop('disabled','disabled');
  }
  
	$("#id_Q001_8").on('ifChecked', function(event){
		$("#id_Q002").removeAttr('disabled');
	});
	
	$("#id_Q001_8").on('ifUnchecked', function(event){
	 	$("#id_Q002").val('');
	  	$("#id_Q002").attr('disabled','disabled');
	});
	
	function loadOrgs(wfc_id){
        $.ajax({
                dataType: "json",
                url: "/forms/get_wfc_object?wfc_id=" + wfc_id,
                contentType: "application/json; charset=utf-8",
                async: false,
                success: function (orgs) {
                    $("#id_org_assessing_child").empty();
                    $('<option>').val(0).text('-----').appendTo("#id_org_assessing_child");
                    $.each(orgs, function (key, val) {
                    	if(key != -1)
                    	{
                    		$('<option>').val(key).text(val).appendTo("#id_org_assessing_child");
                        }
                    });
                    $.each(orgs, function (key, val) {
                    	if(key == -1)
                    	{
                    		if ($('#id_org_assessing_child').val() != val)
                            {
                                $('#id_org_assessing_child').val('' + val + '');
                            }
                    	}
                    });
                }
            });
	}
	
	$(".autocompletewfc").autocomplete({
                source: function (request, response) {
                	var wfcType = "TWGE";
                    $.getJSON("/forms/ben_wfc_autocomplete?wfc_name=" + request.term +"&wfc_type="+wfcType, function (data) {
                        response($.map(data, function (value, key) {
                            return {
                                label: concatenatearray(value),
                                value: value
                            };

                        }));
                    });
                },
                minLength: 1,
                delay: 100,
                select: function (event, ui) {
                    // feed workforce id hidden field
                    loadOrgs(ui.item.value[0]);
                    event.preventDefault();
                }
            });
	
  	$(".autocompletefrmwfc").autocomplete({
                source: function (request, response) {
                	var wfcType = "TWGE";
                    $.getJSON("/forms/ben_wfc_autocomplete?wfc_name=" + request.term +"&wfc_type="+wfcType, function (data) {
                        response($.map(data, function (value, key) {
                            return {
                                label: concatenatearray(value),
                                value: value
                            };

                        }));
                    });
                },
                minLength: 1,
                delay: 100,
                select: function (event, ui) {
                    event.preventDefault();
                }
            }); 
            
  	concatenatearray = function(tmparray, startindex, separator)
    {
        var charseparator = separator? separator:'\t';
        var sindex = startindex != null ? startindex:1;
        var result = [];
        for(i=sindex; i < tmparray.length; i++){
            if(tmparray[i] == null || tmparray[i] == '')
                continue;
           result.push(tmparray[i]);
        }
        
        return result.join(charseparator)
    }
    
   $( "#id_social_welfare_officer_managing_case" ).keypress(function() {
        $('#id_wfc_id_hidden').val('');
    });
            
   $( "#id_social_welfare_officer_managing_case" ).on( "autocompleteselect", function( event, ui ) {
        var result = concatenatearray(ui.item.value);
        $( "#id_social_welfare_officer_managing_case" ).val(result);
        $('#id_wfc_id_hidden').val(ui.item.value[0]);
        $("#submit_child_conflict_form").removeAttr("disabled");
    }); 
	
	$( "#id_social_welfare_officer" ).on( "autocompleteselect", function( event, ui ) {
        var result = concatenatearray(ui.item.value);
        $( "#id_social_welfare_officer" ).val(result);
        $('#id_social_wfc_id_hidden').val(ui.item.value[0]);
        $("#submit_child_conflict_form").removeAttr("disabled");
    });
    
    $( "#id_court_welfare_officer" ).on( "autocompleteselect", function( event, ui ) {
        var result = concatenatearray(ui.item.value);
        $("#id_court_welfare_officer" ).val(result);
        $("#id_court_wfc_id_hidden").val(ui.item.value[0]);
        $("#submit_child_conflict_form").removeAttr("disabled");
    });
    
    $("#id_court_date").on('change', function(){
    	setDefaultWfc("court");
    });
    
    $("#id_social_date").on('change', function(){
    	setDefaultWfc("social");
    });
    
    function setDefaultWfc(target){
    	$("#id_"+target+"_welfare_officer" ).val($( "#id_social_welfare_officer_managing_case" ).val());
    	$("#id_"+target+"_wfc_id_hidden").val($('#id_wfc_id_hidden').val());
    }
    
    function updateTableData(sourceField,sourceTable) {
        var data = {};
        var sindex = 1;
        $(sourceTable).each(function (i, v) {
            if (i < sindex) {
                return;
            }
            data[i] = {};
            $(this).children('td').each(function (ii, vv) {
                data[i][this.id] = $(this).text();
            });
        });
        var wel_data = JSON.stringify(data);
        $(sourceField).val('');
        $(sourceField).val(wel_data);
    }   
    
    $("#id_welfare_add").on('click', function(){
    	if(!validateEncounter("social"))
    	{
    		return;
    	}
    	
    	if($(this).text() == "Update"){
    		updateTable("social");
    		return;
    	}
    	
    	$("#id_socialTable").find('tbody')
        	.append($('<tr id='+$('#id_socialTable >tbody >tr').length+'>')
            
            .append($('<td id="p_id" style="visibility: hidden; width: 1%;">')
                .append($('<label>')
                    .text($("#id_social_wfc_id_hidden").val())
                    .css('visibility','hidden')
                    .css('width','1%')
                )
            )
            .append($('<td id="enc_date">')
                .append($('<label>')
                    .text($("#id_social_date").val())
                )
            )
            .append($('<td id="wfc_name">')
                .append($('<label>')
                    .text(getWfcNameFromCntrl("social"))
                )
            )
            .append($('<td id="enc_int" style="overflow-y: hidden;word-wrap: break-word;">')
                .append($('<label>')
                    .text($("#id_social_who_was_interviewed").val())
                )
            )
            .append($('<td id="enc_notes" style="overflow-y: hidden;word-wrap: break-word;">')
                .append($('<label>')
                    .text($("#id_social_notes").val())
                )
            )
            .append($('<td id="enc_recom" style="overflow-y: hidden;word-wrap: break-word;">')
                .append($('<label>')
                    .text($("#id_social_recommendations").val())
                )
            )
            .append($("<td id='edit'> <button id='id_edit_social' onclick='myEditFunction("+$("#id_social_wfc_id_hidden").val()+")' class='editbutton'><i class='fa fa-level-up'></i></button></td>"))
            .append($("<td id='del'> <button onclick='myDeleteFunction()' class='removebutton'><i class='fa fa-trash fa-2'></i></button></td>"))
        );
        updateTableData("#id_social_data_hidden","#id_socialTable tr");
        clearSocialFields();
    });
    
    $("#id_court_add").on('click', function(){
    	if(!validateEncounter("court"))
    	{
    		return;
    	}
    	
    	if($(this).text() == "Update"){
    		updateTable("court");
    		return;
    	}
    	
    	$("#id_courtTable").find('tbody')
        	.append($('<tr id='+$('#id_courtTable >tbody >tr').length+'>')
            
            .append($('<td id="p_id" style="visibility: hidden; width: 1%;">')
                .append($('<label>')
                    .text($("#id_court_wfc_id_hidden").val())
                    .css('visibility','hidden')
                    .css('width','1%')
                )
            )
            .append($('<td id="enc_type" style="visibility: hidden; width: 1%;">')
                .append($('<label>')
                    .text($("#id_court").val())
                    .css('visibility','hidden')
                    .css('width','1%')
                )
            )
            .append($('<td id="enc_date">')
                .append($('<label>')
                    .text($("#id_court_date").val())
                )
            )
            .append($('<td id="wfc_name">')
                .append($('<label>')
                    .text(getWfcNameFromCntrl("court"))
                )
            )
            .append($('<td id="enc_desc">')
                .append($('<label>')
                    .text($("#id_court option:selected" ).text())
                )
            )
            .append($('<td id="enc_jm" style="overflow-y: hidden;word-wrap: break-word;">')
                .append($('<label>')
                    .text($("#id_name_of_judge").val())
                )
            )
            .append($('<td id="enc_io" style="overflow-y: hidden;word-wrap: break-word;">')
                .append($('<label>')
                    .text($("#id_investigations_ordered").val())
                )
            )
            .append($('<td id="enc_notes" style="overflow-y: hidden;word-wrap: break-word;">')
                .append($('<label>')
                    .text($("#id_notes").val())
                )
            )
            .append($("<td id='edit'> <button id='id_edit_court' onclick='myEditFunction("+$("#id_court_wfc_id_hidden").val()+")' class='editbutton'><i class='fa fa-level-up'></i></button></td>"))
            .append($("<td id='8'> <button onclick='myDeleteFunction()' class='removebutton'><i class='fa fa-trash fa-2'></i></button></td>"))
        );
        updateTableData("#id_court_data_hidden","#id_courtTable tr");
        clearCourtFields();
    });
    
    var selectedRowId = -1;
    
    function updateTable(sourceOfficer){
    	if(sourceOfficer == "social")
    	{
	    	$('#id_socialTable #'+selectedRowId+' #p_id').text($("#id_social_wfc_id_hidden").val());
	    	$('#id_socialTable #'+selectedRowId+' #enc_date').text($("#id_social_date").val());
	    	$('#id_socialTable #'+selectedRowId+' #wfc_name').text(getWfcNameFromCntrl(sourceOfficer));
	    	$('#id_socialTable #'+selectedRowId+' #enc_int').text($("#id_social_who_was_interviewed").val());
	    	$('#id_socialTable #'+selectedRowId+' #enc_notes').text($("#id_social_notes").val());
	    	$('#id_socialTable #'+selectedRowId+' #enc_recom').text($("#id_social_recommendations").val());
	    	clearSocialFields();
	    	$("#id_welfare_add").text("Add");
    	}
    	else{
    		$('#id_courtTable #'+selectedRowId+' #p_id').text($("#id_court_wfc_id_hidden").val());
	    	$('#id_courtTable #'+selectedRowId+' #enc_type').text($("#id_court").val());
	    	$('#id_courtTable #'+selectedRowId+' #enc_date').text($("#id_court_date").val());
	    	$('#id_courtTable #'+selectedRowId+' #wfc_name').text(getWfcNameFromCntrl(sourceOfficer));
	    	$('#id_courtTable #'+selectedRowId+' #enc_desc').text($("#id_court option:selected" ).text());
	    	$('#id_courtTable #'+selectedRowId+' #enc_jm').text($("#id_name_of_judge").val());
	    	$('#id_courtTable #'+selectedRowId+' #enc_io').text($("#id_investigations_ordered").val());
	    	$('#id_courtTable #'+selectedRowId+' #enc_notes').text($("#id_notes").val());
	    	$("#id_"+sourceOfficer+"_add").text("Add");
	    	clearCourtFields();
    	}
    	
    	
    	updateTableData("#id_"+sourceOfficer+"_data_hidden","#id_"+sourceOfficer+"Table tr");
    	clearSocialFields();
    }
    
    function getWfcNameFromCntrl(welfareOfficer){
    	var social_welf_str = $("#id_"+welfareOfficer+"_welfare_officer").val();
    	var split_social_welf_str = "";
    	var social_welf_sp = (social_welf_str).split('\t');
    	var split_court_welf_str = "";
    	if(social_welf_sp.length == 3)
    	{
    		split_social_welf_str = (social_welf_str).split('\t')[2];
    	}
    	else if(social_welf_sp.length == 2)
    	{
    		split_social_welf_str = (social_welf_str).split('\t')[1];
    	}
    	return split_social_welf_str;
    }
    
    function clearSocialFields(){
    	$("#id_social_welfare_officer").val("");
    	$("#id_social_wfc_id_hidden").val("");
    	$("#id_social_date").val("");
    	$("#id_social_who_was_interviewed").val("");
    	$("#id_social_notes").val("");
    	$("#id_social_recommendations").val("");
    	$("#id_error_social_welfare_officer").text("");
        $("#id_error_social_welfare_officer").hide();
        $("#id_error_social_date").text("");
        $("#id_error_social_date").hide();
    }
    
    function clearCourtFields(){
    	$("#id_court_welfare_officer").val("");
    	$("#id_court_wfc_id_hidden").val("");
    	$("#id_court_date").val("");
    	
    	$("#id_court").val("");
    	$("#id_name_of_judge").val("");
    	$("#id_investigations_ordered").val("");
    	$("#id_notes").val("");
    	
    	$("#id_error_court_welfare_officer").text("");
        $("#id_error_court_welfare_officer").hide();
        $("#id_error_court_date").text("");
        $("#id_error_court_date").hide();
    } 
    
    myDeleteFunction = function (){
        $(document).on('click', 'button.removebutton', function () { 
           $(this).closest('tr').remove();
           return false;
       });
    }
    
    myEditFunction = function (socialWelfareId) {
       $(document).on('click', 'button.editbutton', function () {
    		var wfcString = getWfcString(socialWelfareId);
    		var selectedRow = $(this).closest('tr');
    		selectedRowId = $(this).closest('tr').attr('id');
    		if($(this).attr('id') == "id_edit_social")
    		{
	    		$("#id_social_welfare_officer").val(wfcString);
	    		$("#id_social_wfc_id_hidden").val(socialWelfareId);
	    		var count = 1;
	            selectedRow.children('td').each(function (i, v) {
	            	count==2?$("#id_social_date").val($(this).text()):null;
					count==4?$("#id_social_who_was_interviewed").val($(this).text()):null;
					count==5?$("#id_social_notes").val($(this).text()):null;
					count==6?$("#id_social_recommendations").val($(this).text()):null;
					$("#id_welfare_add").text("Update");
					count++;
	            });
            }
            else{
            	$("#id_court_welfare_officer").val(wfcString);
	    		$("#id_court_wfc_id_hidden").val(socialWelfareId);
	    		var count = 1;
	            selectedRow.children('td').each(function (i, v) {
	            	count==3?$("#id_court_date").val($(this).text()):null;
					count==2?$("#id_court").val($(this).text()):null;
					count==6?$("#id_name_of_judge").val($(this).text()):null;
					count==7?$("#id_investigations_ordered").val($(this).text()):null;
					count==8?$("#id_notes").val($(this).text()):null;
					$("#id_court_add").text("Update");
					count++;
	            });
            }
           	return false;
       });
    }
    
  	function getWfcString(socialWelfareId){
  		var wfcString = "";
       	$.ajax({
            dataType: "json",
            url: "/forms/ben_wfc_autocomplete?wfc_id=" + socialWelfareId,
            contentType: "application/json; charset=utf-8",
            async: false,
            success: function (person) {
            	if(person != null && person != "")
            	{
    				wfcString = concatenatearray(person,0)
    				return wfcString;
    			}
            }
        });
        return wfcString;
  	}
    
    function validateEncounter(sourceField){
    	var is_valid = true;
    	if($("#id_"+sourceField+"_wfc_id_hidden").val() == "" || $("#id_"+sourceField+"_wfc_id_hidden").val() == null)
    	{
    		$("#id_error_"+sourceField+"_welfare_officer").text("The field above is required. Please search and select a valid social welfare officer");
            $("#id_error_"+sourceField+"_welfare_officer").show();
    		is_valid = false;
    	}
    	if($("#id_"+sourceField+"_wfc_id_hidden").val() != "" && $("#id_"+sourceField+"_wfc_id_hidden").val() != null)
    	{
    		var welfare_officer_str = $("#id_"+sourceField+"_welfare_officer").val();
    		var split_welfare_officer_str = (welfare_officer_str).split('\t');
    		if(split_welfare_officer_str.length > 1)
    		{
    			var welf_officer = "";
    			if(split_welfare_officer_str.length == 3)
    			{
    				welf_officer = split_welfare_officer_str[2];
    			}
    			else if(split_welfare_officer_str.length == 2)
    			{
    				welf_officer = split_welfare_officer_str[1];
    			}
    			
    			if(welf_officer == "" || welf_officer == null)
    			{
    				$("#id_error_"+sourceField+"_welfare_officer").text("The field above is required. Please search and select a valid social welfare officer");
		            $("#id_error_"+sourceField+"_welfare_officer").show();
		    		is_valid = false;
    			}
    			
    		}
    		else
    		{
	    		$("#id_error_"+sourceField+"_welfare_officer").text("The field above is required. Please search and select a valid social welfare officer");
	            $("#id_error_"+sourceField+"_welfare_officer").show();
	    		is_valid = false;
    		}
    	}
    	var enteredDate = getValidDate($("#id_"+sourceField+"_date").val());
    	if(!isDate(enteredDate))
    	{
    		$("#id_error_"+sourceField+"_date").text("The field above is required. Please select a valid date");
            $("#id_error_"+sourceField+"_date").show();
    		is_valid = false;
    	}
    	
    	var date_of_arrest = Date.parse(getValidDate($("#id_Q099").val()));
		var val_date = Date.parse(getValidDate($("#id_"+sourceField+"_date").val()));
		if(!isDate(date_of_arrest))
		{
			$("#id_error_"+sourceField+"_date").text("Please enter the date of arrest first");
            $("#id_error_"+sourceField+"_date").show();
    		is_valid = false;
		}
    	else if(val_date < date_of_arrest)
		{
			$("#id_error_"+sourceField+"_date").text("This date must be on or after the date of arrest");
            $("#id_error_"+sourceField+"_date").show();
    		is_valid = false;
		}
		 
    	return is_valid;
    }
    
    populateWelfareTables();
    function populateWelfareTables() {
        if ($("#id_court_data_hidden").length > 0) {
            var hiddenText_c = $("#id_court_data_hidden").val();
            if (hiddenText_c == '')
                return;
            $("#id_courtTable > tbody").html("");
			var court_data_items = JSON.parse(hiddenText_c);
			$.each(court_data_items, function (index) {
				$("#id_courtTable").find('tbody')
		        	.append($('<tr id='+$('#id_courtTable >tbody >tr').length+'>')
		            
		            .append($('<td id="p_id" style="visibility: hidden; width: 1%;">')
		                .append($('<label>')
		                    .text(court_data_items[index].p_id)
		                    .css('visibility','hidden')
		                    .css('width','1%')
		                )
		            )
		            .append($('<td id="enc_type" style="visibility: hidden; width: 1%;">')
		                .append($('<label>')
		                    .text(court_data_items[index].enc_type)
		                    .css('visibility','hidden')
		                    .css('width','1%')
		                )
		            )
		            .append($('<td id="enc_date">')
		                .append($('<label>')
		                    .text(court_data_items[index].enc_date)
		                )
		            )
		            .append($('<td id="wfc_name" style="overflow-y: hidden;word-wrap: break-word;">')
		                .append($('<label>')
		                    .text(court_data_items[index].wfc_name)
		                )
		            )
		            .append($('<td id="enc_desc" style="overflow-y: hidden;word-wrap: break-word;">')
		                .append($('<label>')
		                    .text(court_data_items[index].enc_desc)
		                )
		            )
		            .append($('<td id="enc_jm" style="overflow-y: hidden;word-wrap: break-word;">')
		                .append($('<label>')
		                    .text(court_data_items[index].enc_jm)
		                )
		            )
		            .append($('<td id="enc_io" style="overflow-y: hidden;word-wrap: break-word;">')
		                .append($('<label>')
		                    .text(court_data_items[index].enc_io)
		                )
		            )
		            .append($('<td id="enc_notes" style="overflow-y: hidden;word-wrap: break-word;">')
		                .append($('<label>')
		                    .text(court_data_items[index].enc_notes)
		                )
		            )
		            .append($("<td id='edit'> <button id='id_edit_court' onclick='myEditFunction("+court_data_items[index].p_id+")' class='editbutton'><i class='fa fa-level-up'></i></button></td>"))
		            .append($("<td id='del'> <button onclick='myDeleteFunction()' class='removebutton'><i class='fa fa-trash fa-2'></i></button></td>"))
		        );
		        updateTableData("#id_court_data_hidden","#id_courtTable tr");
            });
        }
        
        if ($("#id_social_data_hidden").length > 0) {
            var hiddenText = $("#id_social_data_hidden").val();
            if (hiddenText == '')
                return;
            $("#id_socialTable > tbody").html("");
            
			var social_data_items = JSON.parse(hiddenText);
			$.each(social_data_items, function (index) {
		        $("#id_socialTable").find('tbody')
		        	.append($('<tr id='+$('#id_socialTable >tbody >tr').length+'>')
		            
		            .append($('<td id="p_id" style="visibility: hidden; width: 1%;">')
		                .append($('<label>')
		                    .text(social_data_items[index].p_id)
		                    .css('visibility','hidden')
		                    .css('width','1%')
		                )
		            )
		            .append($('<td id="enc_date">')
		                .append($('<label>')
		                    .text(social_data_items[index].enc_date)
		                )
		            )
		            .append($('<td id="wfc_name" style="overflow-y: hidden;word-wrap: break-word;">')
		                .append($('<label>')
		                    .text(social_data_items[index].wfc_name)
		                )
		            )
		            .append($('<td id="enc_int" style="overflow-y: hidden;word-wrap: break-word;">')
		                .append($('<label>')
		                    .text(social_data_items[index].enc_int)
		                )
		            )
		            .append($('<td id="enc_notes" style="overflow-y: hidden;word-wrap: break-word;">')
		                .append($('<label>')
		                    .text(social_data_items[index].enc_notes)
		                )
		            )
		            .append($('<td id="enc_recom" style="overflow-y: hidden;word-wrap: break-word;">')
		                .append($('<label>')
		                    .text(social_data_items[index].enc_recom)
		                )
		            )
		            .append($("<td id='edit'> <button id='id_edit_social' onclick='myEditFunction("+social_data_items[index].p_id+")' class='editbutton'><i class='fa fa-level-up'></i></button></td>"))
		            .append($("<td id='del'> <button onclick='myDeleteFunction()' class='removebutton'><i class='fa fa-trash fa-2'></i></button></td>"))
		        );
		        updateTableData("#id_social_data_hidden","#id_socialTable tr");
	        });
        }
    }

    if($("#id_district").val() == "0" || $("#id_district").val() == "")
    {
		$("#id_ward").empty();
		$('<option>').val(0).text('-----').appendTo("#id_ward");
	}
	else
	{
		var selectedWard = $("#id_ward").val();
		$.ajax({
                    dataType: "json",
                    url: "/forms/wards?district_id=" + $("#id_district").val(),
                    contentType: "application/json; charset=utf-8",
                    success: function (wards) {
                        $("#id_ward").empty();
                        $('<option>').val(0).text('-----').appendTo("#id_ward");
                        $.each(wards, function (key, val) {
                            $('<option>').val(key).text(val).appendTo("#id_ward");
                        });
                        $('#id_ward').val('' + selectedWard + '');
                    }
                });
	}
	
	$("#id_district").on('change', function(){
		$.ajax({
                    dataType: "json",
                    url: "/forms/wards?district_id=" + $("#id_district").val(),
                    contentType: "application/json; charset=utf-8",
                    success: function (wards) {
                        $("#id_ward").empty();
                        $('<option>').val(0).text('-----').appendTo("#id_ward");
                        $.each(wards, function (key, val) {
                            $('<option>').val(key).text(val).appendTo("#id_ward");
                        });
                    }
                });
	});
	
	$("#id_Q103").on('change', function(){
		$("#id_Q104").val($("#id_Q103").val());
		
		
	});
	
	function getValidDate(invalidDate)
	{
		var spDate = (invalidDate).split('-');
		var toReturn = "";
		if(spDate.length == 3)
		{
			toReturn = spDate[0] + " " + spDate[1] +" "+ spDate[2];
		}
		
		return toReturn;
	}
	
	customValidate = function(e){
		var valid = true;
		updateTableData("#id_social_data_hidden","#id_socialTable tr");
		updateTableData("#id_court_data_hidden","#id_courtTable tr");
		var date_of_arrest = Date.parse(getValidDate($("#id_Q099").val()));
		var date_offense_begun = Date.parse(getValidDate($("#id_Q103").val()));
		var date_offense_ended = Date.parse(getValidDate($("#id_Q104").val()));
		var date_case_disposed = Date.parse(getValidDate($("#id_Q113").val()));
		var date_of_birth = isDate(dob)?Date.parse(dob):null;
		var date_of_death = isDate(dod)?Date.parse(dod):null;
		
		if(date_offense_begun < date_of_birth || date_offense_begun > date_of_death)
		{
			$('input[name="Q103"]')[0].setCustomValidity("The start date of the alleged offense must be between the subject child's date of birth and date of death or today's date");
			valid = false;
		}
		else
		{
			$('input[name="Q103"]')[0].setCustomValidity("");
		}
		if(date_of_arrest < date_offense_begun || date_of_arrest > date_of_death)
		{
			$('input[name="Q099"]')[0].setCustomValidity("The date of arrest must be between the date the alleged offense started and the subject child's date of death or today's date");
			valid = false;
		}
		else
		{
			$('input[name="Q099"]')[0].setCustomValidity("");
		}
		if(date_offense_ended < date_offense_begun || date_offense_ended > date_of_death)
		{
			$('input[name="Q104"]')[0].setCustomValidity("The date offense ended must be between the date the alleged offense started and the subject child's date of death or today's date");
			valid = false;
		}
		else
		{
			$('input[name="Q104"]')[0].setCustomValidity("");
		}
		if(date_case_disposed < date_offense_begun || date_case_disposed < date_offense_ended || date_case_disposed < date_of_arrest)
		{
			$('input[name="Q113"]')[0].setCustomValidity("This date must be after all other dates on the form");
			valid = false;
		}
		else
		{
			$('input[name="Q113"]')[0].setCustomValidity("");
		}
		var docket = $("#id_Q102").val();
		if(docket != "" && docket != null)
		{
			var spDocket = (docket).split('/');
			if(spDocket.length != 3)
			{
				$('input[name="Q102"]')[0].setCustomValidity("The entered case docket number is invalid, please enter a valid case docket number in the format n/mm/yyyy where n is any number, and mm/yyyy is a month and year.");
				valid = false;
			}
			else
			{
				var docketNumber = spDocket[0];
				var docketMonth = spDocket[1];
				var docketYear = spDocket[2];
				
				if(isNumeric(docketMonth))
				{
					if(docketMonth < 1 && docketMonth > 12)
					{
						$('input[name="Q102"]')[0].setCustomValidity("The entered case docket number is invalid on the month part, please enter a valid case docket number in the format n/mm/yyyy where n is any number, and mm/yyyy is a month and year.");
						valid = false;
					}
					else
					{
						$('input[name="Q102"]')[0].setCustomValidity("");
					}
				}
				else
				{
					$('input[name="Q102"]')[0].setCustomValidity("The entered case docket number is invalid on the month part, please enter a valid case docket number in the format n/mm/yyyy where n is any number, and mm/yyyy is a month and year.");
					valid = false;
				}
				
				if(isNumeric(docketYear))
				{
					if(docketYear < 1900 && docketYear > 2070)
					{
						$('input[name="Q102"]')[0].setCustomValidity("The entered case docket number is invalid on the year part, please enter a valid case docket number in the format n/mm/yyyy where n is any number, and mm/yyyy is a month and year.");
						valid = false;
					}
					else
					{
						$('input[name="Q102"]')[0].setCustomValidity("");
					}
				}
				else
				{
					$('input[name="Q102"]')[0].setCustomValidity("The entered case docket number is invalid on the year part, please enter a valid case docket number in the format n/mm/yyyy where n is any number, and mm/yyyy is a month and year.");
					valid = false;
				}
				
				var today = new Date(getValidDate($("#id_Q099").val()));
				var enteredMonth = parseInt(today.getMonth(), 10) + 1;
				var enteredYear = parseInt(today.getFullYear(),10);
				var intdocketMonth = parseInt(docketMonth,10);
				var intdocketYear = parseInt(docketYear,10);
				if(valid)
				{
					if(!(enteredMonth == intdocketMonth && enteredYear == intdocketYear))
					{
						e.preventDefault();
						$("#id_docket_confirm_dialog_box").click();
					}
				}
			}
		}
		else
		{
			$('input[name="Q102"]')[0].setCustomValidity("");
		}
		if($("#id_wfc_id_hidden").val() == "" || $("#id_wfc_id_hidden").val() == null)
		{
			$('input[name="social_welfare_officer_managing_case"]')[0].setCustomValidity("This field is required, please search and select a valid workforce in this field");
		}
		else
		{
			$('input[name="social_welfare_officer_managing_case"]')[0].setCustomValidity("");
		}
	}
	
	function isNumeric(value) {
	    return /^\d+$/.test(value);
	}
	
	function isDate(val) {
	    var d = new Date(val);
	    return !isNaN(d.valueOf());
	}
	
	//checkWorkforcePermission();
	function checkWorkforcePermission(){
        $.ajax({
                dataType: "json",
                url: "/forms/get_wfc_object?get_perms='True'",
                contentType: "application/json; charset=utf-8",
                async: false,
                success: function (perms) {
                	var has_search_perm = false;
                    $.each(perms, function (key, val) {
                    	if(key != -1)
                    	{
                    		if(val == "auth.enter frm high sensitive")
                    		{
                    			has_search_perm = true;
                    		}
                        }
                    });
                    
                    if(!has_search_perm)
                    {
                    	$.each(perms, function (key, val) {
	                    	if(key == -2)
	                    	{
	                    		$('#id_wfc_id_hidden').val(val);
	                    		loadOrgs(val);
	                        }
	                        else if(key == -3)
	                        {
	                        	$('#id_social_welfare_officer_managing_case').val(val);
	                        	$('#id_social_welfare_officer_managing_case').prop("disabled",true);
	                        }
                    	});
                    }
                }
        });
	}
	
	
	if($("#id_social_welfare_officer_managing_case_hidden").val() != "" && $("#id_social_welfare_officer_managing_case_hidden").val() != null)
	{
		loadOrgs($("#id_hidden_wfc_id_hidden").val());
		$("#id_social_welfare_officer_managing_case").val($("#id_social_welfare_officer_managing_case_hidden").val());
		$("#id_wfc_id_hidden").val($("#id_hidden_wfc_id_hidden").val());
	}
    
  });
</script>
{% endblock scripts %}
