{% extends "main_base.html" %}
{% load static %}
{% load crispy_forms_tags %}
{% block page_title %}{{ app_name }} | ZOMIS form 3d - OVC assessment {% endblock %}
{% block navbar_class_dashboard %}{% endblock %}
{% block navbar_class_registries %}{% endblock %}
{% block navbar_class_beneficiary %}{% endblock %}
{% block navbar_class_forms %}active{% endblock %}

{% block body_page_title %} ZOMIS form 3d - OVC assessment {% endblock %}
{% block breadcrum %}
<li class="hidden"><a href="#">Forms - OVC assessment</a>&nbsp;&nbsp;<i class="fa fa-angle-right"></i>&nbsp;&nbsp;</li>
                    <li>Forms - OVC assessment</li>
{% endblock breadcrum %}
{% block content %}
        <div class="container">
            <div class="row">
            
				{% crispy form %}
			</div>
		</div>
{% endblock content %}

{% block scripts %}
 <script src="{% static "ovc_main/js/vendor/jquery.quicksearch.js" %}"></script>
 <script src="{% static "ovc_main/js/forms_general.js" %}"></script>
 <script src="{% static "ovc_main/js/general/multiselect-searchable.js" %}"></script>
 <script src="{% static "ovc_main/js/vendor/range_integer_fields.js" %}"></script>
 <script src="{% static "ovc_main/js/vendor/jquery.jstepper.min.js" %}"></script>
 <script>
 $(document).ready(function() {
 
 //Initializations for interger fields
	//http://jstepper.emkay.dk/
	$("#id_form_type").val('FT3d');
	$('#id_Q025').jStepper({minValue:0, maxValue:12, minLength:1});
	$('#id_Q004').jStepper({minValue:1, maxValue:30, minLength:1});
	$('#id_Q005').jStepper({minValue:0, maxValue:30, minLength:1});
	$('#id_Q006').jStepper({minValue:0, maxValue:30, minLength:1});
	$('#id_Q011').jStepper({minValue:0, maxValue:12, minLength:1});
	$('#id_Q012').jStepper({minValue:0, maxValue:30.0, minLength:1});
	
 if($("#id_org_assessing_child").val()=="")
    {
    	$("#id_org_assessing_child").empty();
    	$("#id_org_assessing_child").append("<option value=''>-----</option>");
    }

  var dob = '{{subject.date_of_birth}}';  
  var dod = new Date();
  
  if('{{subject.date_of_death}}' != 'None')
  {
  	dod = '{{subject.date_of_death}}';
  }
   
 $("#id_date_assessment_comp").datepicker(
    {
        maxDate: isDate(dod)?new Date(dod):'0',
        minDate: isDate(dob)?new Date(dob):'-100',
        dateFormat: 'd MM yy',
        yearRange: "1904:2030",
        changeMonth: true,
        changeYear: true
    });
    
  
  $("#id_date_assessment_comp").prop("min",dob); 
  $("#id_date_assessment_comp").prop("max",dod); 
 
    
  $("#submit_ovc_assessment_form").prop("disabled",true);
  
  $('.controls').on('change',function(){
  	$("#submit_ovc_assessment_form").removeAttr("disabled");
  });
  
  $('.checkbox').on('ifChanged',function(){
  	$("#submit_ovc_assessment_form").removeAttr("disabled");
  });
  
  var selDate = new Date('{{subject.date_of_birth}}');
  var today = new Date();
  var val = today - selDate;
  var diff = val / (24*60*60*1000);
  
  if(diff >= 2556.7)
  {
  	$("#id_Q023 option[value='35']").remove();
  	$("#id_Q026 option[value='35']").remove();
  }
  if(diff >= 1826.21)
  {
  	$("#id_Q028 option[value='35']").prop('selected', true);
  	$("#id_Q028").prop('disabled','disabled');
  }
  
  if(!$("#id_Q001_8").prop('checked'))
  {
  	$("#id_Q002").prop('disabled','disabled');
  }
  
	$("#id_Q001_8").on('ifChecked', function(event){
		$("#id_Q002").removeAttr('disabled');
	});
	
	$("#id_Q001_8").on('ifUnchecked', function(event){
	 	$("#id_Q002").val('');
	  	$("#id_Q002").attr('disabled','disabled');
	});
	
  $(".autocompletefrmwfc").autocomplete({
                source: function (request, response) {
                    $.getJSON("/forms/ben_wfc_autocomplete?wfc_name=" + request.term, function (data) {
                        response($.map(data, function (value, key) {
                            return {
                                label: concatenatearray(value),
                                value: value
                            };

                        }));
                    });
                },
                minLength: 1,
                delay: 100,
                select: function (event, ui) {
                    // feed workforce id hidden field
                    loadOrgs(ui.item.value[0],true);
                    $('#id_wfc_id_hidden').val(ui.item.value[0]);
                    event.preventDefault();
                }
            }); 
            
   concatenatearray = function(tmparray, startindex, separator)
    {
        var charseparator = separator? separator:'\t';
        var sindex = startindex? startindex:1;
        var result = [];
        for(i=sindex; i < tmparray.length; i++){
            if(tmparray[i] == null || tmparray[i] == '')
                continue;
           result.push(tmparray[i]);
        }
        
        return result.join(charseparator);
    }
    
    if($('#id_wfc_id_hidden').val() != '' && $('#id_wfc_id_hidden').val() != null)
    {
    	loadOrgs($('#id_wfc_id_hidden').val(),false);
    }
    
   $( "#id_wfc_assessing_child" ).keypress(function() {
        $('#id_wfc_id_hidden').val('');
    } );
            
   $( "#id_wfc_assessing_child" ).on( "autocompleteselect", function( event, ui ) {
        var result = concatenatearray(ui.item.value);
        $( "#id_wfc_assessing_child" ).val(result);
        $("#submit_ovc_assessment_form").removeAttr("disabled");
    });
	
	function loadOrgs(wfc_id,preselect){
        $.ajax({
                dataType: "json",
                url: "/forms/get_wfc_object?wfc_id=" + wfc_id,
                contentType: "application/json; charset=utf-8",
                async: false,
                success: function (orgs) {
                	if(preselect == true)
                	{
	                    $("#id_org_assessing_child").empty();
	                    $('<option>').val("").text('-----').appendTo("#id_org_assessing_child");
                    }
                    $.each(orgs, function (key, val) {
                    	if($("#id_org_assessing_child option[value="+key+"]").length == 0)
                    	{
 							if(key != -1)
	                    	{
	                    		$('<option>').val(key).text(val).appendTo("#id_org_assessing_child");
	                        }
						}
                    });
                    //clean up
                    $("#id_org_assessing_child > option").each(function() {
                    	var found = false;
                    	var valToSearch = this.value;
	                    $.each(orgs, function (key, val) {
	                    	if(valToSearch.toString() == key.toString())
	                    	{
	                    		found = true;
	                    	}
	                    });
	                    if(!found && valToSearch != "")
	                    {
	                    	$("#id_org_assessing_child option[value='"+valToSearch+"']").remove();
	                    }
					});
					
                    $.each(orgs, function (key, val) {
                    	if(key == -1 && preselect)
                    	{
                    		if ($('#id_org_assessing_child').val() != val)
                            {
                                $('#id_org_assessing_child').val('' + val + '');
                            }
                    	}
                    });
                }
            });
	
	}
	
	if($("#id_Q024").val() != '37' && $("#id_Q024").val() != '38')
	{
		$('.grades').attr("style", "visibility: hidden");
	}
	
	$('#id_Q025').restrict();
	
	$("#id_Q024").on('change',function(){
		$('#id_Q025').val('');
		if($("#id_Q024").val()=='37')
		{
			$('.grades').attr("style", "visibility: visible");
			$('#id_Q025').removeAttr("min");
			$('#id_Q025').removeAttr("max");
			$('#id_Q025').attr("min", 1);
			$('#id_Q025').attr("max", 9);
			$('#id_Q025').restrict();
		}
		else if($("#id_Q024").val()=='38')
		{
			$('.grades').attr("style", "visibility: visible");
			$('#id_Q025').removeAttr("min");
			$('#id_Q025').removeAttr("max");
			$('#id_Q025').attr("min", 8);
			$('#id_Q025').attr("max", 12);
			$('#id_Q025').restrict();
		}
		else
		{
			$('.grades').attr("style", "visibility: hidden");
		}
	});
	
	
	if('{{subject.birth_cert_num}}' !='' && '{{subject.birth_cert_num}}' !=null)
	{
		$("#id_Q013 option[value='29']").prop('selected', true);
  		$("#id_Q013").prop('disabled','disabled');
		$("#id_Q014").val('{{subject.birth_cert_num}}');
		$("#id_Q014").attr('disabled','disabled');
	}
	
	customValidate = function(e){
		if($("#id_date_assessment_comp").val() != null && $("#id_date_assessment_comp").val() != "")
		{
			if(isDate($("#id_date_assessment_comp").val()))
			{
				//$('input[name="date_assessment_comp"]')[0].setCustomValidity("");
				var enteredDate = $.datepicker.formatDate('d-MM-yy', new Date($("#id_date_assessment_comp").val()));
				
				parsedEnteredDate = Date.parse(enteredDate);
				parsedDateOfBirth = Date.parse(dob);
				parsedDateOfDirth = Date.parse(dod);
				
				if(parsedEnteredDate < parsedDateOfBirth || parsedEnteredDate > parsedDateOfDirth)
				{
					$('input[name="date_assessment_comp"]')[0].setCustomValidity("This field must be between the subject OVC's date of birth and (today's date or date of death)");
				}
				else
				{
					$('input[name="date_assessment_comp"]')[0].setCustomValidity("");
				}
			}
			else
			{
				$('input[name="date_assessment_comp"]')[0].setCustomValidity("Please enter a valid date in this field.");
			}
			
			if($("#id_wfc_id_hidden").val() == "" || $("#id_wfc_id_hidden").val() == null)
			{
				$('input[name="wfc_assessing_child"]')[0].setCustomValidity("This field is required, please enter a valid workforce in this field");
			}
			else
			{
				$('input[name="wfc_assessing_child"]')[0].setCustomValidity("");
			}
		}
	}
	
	function isDate(val) {
	    var d = new Date(val);
	    return !isNaN(d.valueOf());
	}
	if($("#id_wfc_assessing_child_hidden").val() != "" && $("#id_wfc_assessing_child_hidden").val() != null)
	{
		$("#id_wfc_assessing_child").val($("#id_wfc_assessing_child_hidden").val());
		$("#id_wfc_id_hidden").val($("#id_hidden_wfc_id_hidden").val());
	}
	
  });
</script>
{% endblock scripts %}
