{% extends "main_base.html" %}
{% load static %}
{% load crispy_forms_tags %}
{% block page_title %}{{ app_name }} | Public sensitisation form {% endblock %}
{% block navbar_class_dashboard %}{% endblock %}
{% block navbar_class_registries %}{% endblock %}
{% block navbar_class_workforce %}{% endblock %}

{% block body_page_title %} Public sensitisation / community outreach form {% endblock %}
{% block breadcrum %}
<li class="hidden"><a href="#"> Public sensitisation form </a>&nbsp;&nbsp;<i class="fa fa-angle-right"></i>&nbsp;&nbsp;</li>
<li> Public sensitisation form </li>
{% endblock breadcrum %}

{% block content %}
{% crispy form %}
{% endblock %}

{% block scripts %}
<script src="{% static "ovc_main/js/vendor/jquery.quicksearch.js" %}"></script>
<script src="{% static "ovc_main/js/forms_general.js" %}"></script>
<script src="{% static "ovc_main/js/general/multiselect-searchable.js" %}"></script>
<script src="{% static "ovc_main/js/public_sensitisation.js" %}"></script>
<script>

$('.datepicker').datepicker(
        {
            //minDate: "-18Y",
            dateFormat: 'd-MM-yy',
            yearRange: "1904:2050",
            maxDate: 0,
            changeMonth: true,
            changeYear: true
        });

		function duplicateOrgsDetected(org_unit_id){
			var count = 0;
			var toReturn = false;
			$("#valid_orgs_data").text("");
			$("#valid_orgs_data").css('display','None');
			$("#organisationContributionsTable tr").each(function(i, v){
				$(this).children('td').each(function(ii, vv){
					if($(this).attr("id") == 'org_unit_id'){
						if($(this).text() == org_unit_id){
							count++;
						}
						if(count>=1){
							toReturn = true;
						}
					}													
				});
			});
			return toReturn;
		}
		
		function addOrgsData() {
			var org_unit_name = $("#id_org_unit_name").val();
			var org_unit_id = $("#id_org_unit_id").val();
			//var org_contribution_id = $("#id_org_contribution_id").val();
			var cont_count = 0;
			var org_contribution = $("input[name=organisation_contribution]:checked").map(function() {
				return $(this).closest('label').text();
			}).get().join(" - ")
			var org_contribution_id = $("input[name=organisation_contribution]:checked").map(function() {
				cont_count = cont_count + 1;
				return this.value;
			}).get().join(" - ")

			$("#valid_orgs_data").text("");
			$("#valid_orgs_data").css('display', 'None');

			if(duplicateOrgsDetected(org_unit_id)){
				$("#valid_orgs_data").text('This organisation unit has already been added');
				$("#valid_orgs_data").show();
				return;
			}

			if(org_unit_id === ''){
				$("#valid_orgs_data").text('Please select an organisation unit by typing in the "Organisation unit" textbox');
				$("#valid_orgs_data").show();
				return;
			}

			if(cont_count === 0){
				$("#valid_orgs_data").text('Please select atleast one contribution');
				$("#valid_orgs_data").show();
				return;
			}

			populateOrgRow(org_unit_name, org_unit_id, org_contribution_id, org_contribution);
			updateOrgsStatusData();

			clearOrgForm();
		}
		
		//Called on load or refresh
		populateOrgTable();
		function populateOrgTable() {
			var org_data = $("#id_org_contributions_data").val();
			if (org_data === '') {
				return;
			}
			var org_data_items = JSON.parse(org_data);
			$.each(org_data_items, function (index) {
				var org_unit_name = org_data_items[index].org_unit_name;
				var org_unit_id = org_data_items[index].org_unit_id;
				var org_contribution_id = org_data_items[index].org_contribution_id;
				var org_contribution = org_data_items[index].org_contribution;

				populateOrgRow(org_unit_name, org_unit_id, org_contribution_id, org_contribution);
			});
		}

		function populateOrgRow(org_unit_name, org_unit_id, org_contribution_id, org_contribution) {

			$("#organisationContributionsTable").find('tbody')
					.append($('<tr>')
							.append($('<td id="org_unit_name" class="orgdata">')
									.append($('<label>')
											.text(org_unit_name)
											)
									)
							.append($('<td id="org_unit_id" class="orgdata">')
									.append($('<label>')
											.text(org_unit_id)
											)
									)
							.append($('<td id="org_contribution" class="not_saving">')
									.append($('<label>')
											.text(org_contribution)
											)
									)
							.append($('<td id="org_contribution_id" class="orgdata">')
									.append($('<label>')
											.text(org_contribution_id)
											)
											.css('display', 'None')
											.css('width', '1%')
									)
							.append($("<td class='not_saving'> <button onclick='removeOrgRow()' class='removebutton'><i class='fa fa-trash fa-2'></i></button></td>"))
							);
		}

		function removeOrgRow() {
			$(document).on('click', 'button.removebutton', function () {
				$(this).closest('tr').remove();
				updateOrgsStatusData();
				return false;
			});
		}

		function updateOrgsStatusData() {
			var data = getTableDataAsJsonString('organisationContributionsTable');
			$("#id_org_contributions_data").val(data);
		}

		function clearOrgForm() {
			$('#id_organisational_unit').val('');
			$('#id_org_unit_id').val('');
			$('#id_org_unit_name').val('');
			$( 'input[id="id_organisation_contribution_1"]').iCheck('uncheck');
            $( 'input[id="id_organisation_contribution_2"]').iCheck('uncheck'); 
			$( 'input[id="id_organisation_contribution_3"]').iCheck('uncheck');
            $( 'input[id="id_organisation_contribution_4"]').iCheck('uncheck'); 
			$( 'input[id="id_organisation_contribution_5"]').iCheck('uncheck');
		}

	function duplicateBensDetected(beneficiary_id){
		var count = 0;
		var toReturn = false;
		$("#valid_beneficiary_data").text("");
		$("#valid_beneficiary_data").css('display','None');
		$("#beneficiaryParticipationTable tr").each(function(i, v){
			$(this).children('td').each(function(ii, vv){
				if($(this).attr("id") == 'beneficiary_id'){
					if($(this).text() !== ''){
						if($(this).text() === beneficiary_id){
							toReturn = true;
						}
					}
				}													
			});
		});
		return toReturn;
	}

	function updateCount(age, sex, increment){
		//console.warn(age);
		//console.warn(sex);
		var age_int = parseInt(age);
		if(age_int >= 18 && sex === 'Male'){
			//alert('age_int >= 18 && sex === Male');
			if($('#id_Q093').val() === ''){
				$('#id_Q093').val('1');
			}else{
				var male_adults_count = parseInt($('#id_Q093').val());
				var male_adults_count = male_adults_count + increment;
				if(male_adults_count > 0){
					$('#id_Q093').val(male_adults_count);
				}
				else{
					$('#id_Q093').val('');
				}
			}
		} else if(age_int >= 18 && sex === 'Female'){
			//alert('age_int >= 18 && sex === FeMale');
			if($('#id_Q094').val() === ''){
				$('#id_Q094').val('1');
			}else{
				var female_adults_count = parseInt($('#id_Q094').val());
				var female_adults_count = female_adults_count + increment;
				if(female_adults_count > 0){
					$('#id_Q094').val(female_adults_count);
				}
				else{
					$('#id_Q094').val('');
				}
			}
		} else if(age_int < 18 && sex === 'Male'){
			//alert('age_int < 18 && sex === Male');
			if($('#id_Q095').val() === ''){
				$('#id_Q095').val('1');
			}else{
				var male_child_count = parseInt($('#id_Q095').val());
				var male_child_count = male_child_count + increment;
				if(male_child_count > 0){
					$('#id_Q095').val(male_child_count);
				}
				else{
					$('#id_Q095').val('');
				}
			}
		} else if(age_int < 18 && sex === 'Female'){
			//alert('age_int < 18 && sex === FeMale');
			if($('#id_Q096').val() === ''){
				$('#id_Q096').val('1');
			}else{
				var female_child_count = parseInt($('#id_Q096').val());
				var female_child_count = female_child_count + increment;
				if(female_child_count > 0){
					$('#id_Q096').val(female_child_count);
				}
				else{
					$('#id_Q096').val('');
				}
			}
		}

		//Add 1 to total
		if($('#id_Q097').val() === ''){
			$('#id_Q097').val('1');
		}else{
			var total_count = parseInt($('#id_Q097').val());
			var total_count = total_count + increment;
			if(total_count > 0){
				$('#id_Q097').val(total_count);
			}
			else{
				$('#id_Q097').val('');
			}
		}
		//return false;
	}

	function addBeneficiaryData() {
		var age = $("#age").val();
		var sex = $("#sex").val();			
		var person_id = $("#person_id").val();
		var beneficiary_id = $("#beneficiary_id").val();
		var birth_reg_id = $("#birth_reg_id").val();
		var national_id = $("#national_id").val();
		var beneficiary_name = $("#beneficiary_name").val();
		var participation_level = $("#id_participation_level option:selected").text();
		var participation_level_id = $("#id_participation_level").val();
		var age = $("#age").val();
		var sex = $("#sex").val();
			
		$("#valid_beneficiary_data").text("");
		$("#valid_beneficiary_data").css('display', 'None');

		var dup_detected = duplicateBensDetected(beneficiary_id);
		if(dup_detected){
			$("#valid_beneficiary_data").text('This beneficiary has already been added');
			$("#valid_beneficiary_data").show();
			return;
		}

		if(beneficiary_id === ''){
			$("#valid_beneficiary_data").text('Please select a beneficiary member by typing in the "Beneficiary" textbox');
			$("#valid_beneficiary_data").show();
			return;
		}

		if(participation_level_id === ''){
			$("#valid_beneficiary_data").text('Please select the participation level');
			$("#valid_beneficiary_data").show();
			return;
		} 

		populateBenRow(person_id, beneficiary_id, birth_reg_id, national_id, beneficiary_name, participation_level, participation_level_id, age, sex);

		updateBenStatusData();
		updateCount(age, sex, 1);
		clearBenForm();
	}

	//Called on load or refresh
	populateBenTable();
	function populateBenTable() {
		var ben_data = $("#id_beneficiary_data").val();
		if (ben_data === '') {
			return;
		}
		var ben_data_items = JSON.parse(ben_data);
		$.each(ben_data_items, function (index) {
			var person_id = ben_data_items[index].person_id;
			var beneficiary_id = ben_data_items[index].beneficiary_id;
			var birth_reg_id = ben_data_items[index].birth_reg_id;
			var national_id = ben_data_items[index].national_id;
			var beneficiary_name = ben_data_items[index].beneficiary_name;
			var participation_level = ben_data_items[index].participation_level;
			var participation_level_id = ben_data_items[index].age;
			var age = ben_data_items[index].participation_level_id;
			var sex = ben_data_items[index].sex;

			populateBenRow(person_id, beneficiary_id, birth_reg_id, national_id, beneficiary_name, participation_level, participation_level_id, age, sex)
		});
	}

	function populateBenRow(person_id, beneficiary_id, birth_reg_id, national_id, beneficiary_name, participation_level, participation_level_id, age, sex) {
		var ben_birth_cert_or_nrc = '';
		if(birth_reg_id !== ''){
			ben_birth_cert_or_nrc = birth_reg_id;
		}
		if(national_id !== ''){
			ben_birth_cert_or_nrc = national_id;
		}
		$("#beneficiaryParticipationTable").find('tbody')
				.append($('<tr>')
						.append($('<td id="person_id" class="ben_data">')
								.append($('<label>')
										.text(person_id)
										)
										.css('display', 'None')
										.css('width', '1%')
								)
						.append($('<td id="beneficiary_id" class="ben_data">')
								.append($('<label>')
										.text(beneficiary_id)
										)
								)
						.append($('<td id="ben_birth_cert_or_nrc" class="not_saving">')
								.append($('<label>')
										.text(ben_birth_cert_or_nrc)
										)
								)
						.append($('<td id="birth_reg_id" class="ben_data">')
								.append($('<label>')
										.text(birth_reg_id)
										)
										.css('display', 'None')
										.css('width', '1%')
								)
						.append($('<td id="national_id" class="ben_data">')
								.append($('<label>')
										.text(national_id)
										)
										.css('display', 'None')
										.css('width', '1%')
								)
						.append($('<td id="beneficiary_name" class="not_saving">')
								.append($('<label>')
										.text(beneficiary_name)
										)
								)
						.append($('<td id="participation_level" class="ben_data">')
								.append($('<label>')
										.text(participation_level)
										)
								)
						.append($('<td id="participation_level_id" class="ben_data">')
								.append($('<label>')
										.text(participation_level_id)
										)
										.css('display', 'None')
										.css('width', '1%')
								)
						.append($('<td id="sex" class="sex">')
								.append($('<label>')
										.text(sex)
										)
										.css('display', 'None')
										.css('width', '1%')
								)
						.append($('<td id="age" class="age">')
								.append($('<label>')
										.text(age)
										)
										.css('display', 'None')
										.css('width', '1%')
								)
						.append($("<td class='not_saving'> <button onclick='removeClosestRow()' class='removebenbutton'><i class='fa fa-trash fa-2'></i></button></td>"))
						);
	}

	function updateBenStatusData() {
		var data = getTableDataAsJsonString('beneficiaryParticipationTable');
		$("#id_beneficiary_data").val(data);
	}

	function clearBenForm() {
		$("#id_beneficiary").val('');
		$("#id_participation_level").val('');
		$('#person_id').val('');
		$('#beneficiary_id').val('');
		$('#birth_reg_id').val('');
		$('#national_id').val('');
		$('#beneficiary_name').val('');
		$('#participation_level').val('');
		$('#participation_level_id').val('');
		$('#age').val('');
		$('#sex').val('');
	}

	function getTableDataAsJsonString(table_name, startindex) {
		var data = {};
		var sindex = startindex ? startindex : 1;
		$("#" + table_name + " tr").each(function (i, v) {
			if (i < sindex) {
				return;
			}
			data[i] = {};
			$(this).children('td').each(function (ii, vv) {
				data[i][this.id] = $(this).text();
			});
		});
		return JSON.stringify(data);
	}

	function removeBenRow() {
		$(document).on('click', 'button.removebenbutton', function () {
			var age = $(this).closest('tr').find('.age').text();
			var sex = $(this).closest('tr').find('.sex').text();
			//$("#id_age").val(age);
			//$("#id_sex").val(sex);
			//alert(age);
			//alert(sex);
			$(this).closest('tr').remove();		

			updateBenStatusData();
			//updateCount(age, sex, -1);
			return false;
		});
	}

	function removeClosestRow(){
		var t = removeBenRow();
		//var age = $("#id_age").val();
		//var sex = $("#id_sex").val();
		//updateCount(age, sex, -1);
		//$("#id_age").val('');
		//$("#id_sex").val('');
	}

</script>
{% endblock %}
