{% extends "main_base.html" %}
{% load static %}
{% load crispy_forms_tags %}
{% block page_title %}{{ app_name }} | ZOMIS form 3d - OVC assessment {% endblock %}
{% block navbar_class_dashboard %}{% endblock %}
{% block navbar_class_registries %}{% endblock %}
{% block navbar_class_beneficiary %}{% endblock %}
{% block navbar_class_forms %}active{% endblock %}

{% block body_page_title %} ZOMIS form 2c - Workforce assessment {% endblock %}
{% block breadcrum %}
<li class="hidden"><a href="#">Forms - Workforce assessment</a>&nbsp;&nbsp;<i class="fa fa-angle-right"></i>&nbsp;&nbsp;</li>
                    <li>Forms - Workforce assessment</li>
{% endblock breadcrum %}
{% block content %}
        <div class="container">
            <div class="row">
            
				{% crispy form %}
			</div>
		</div>
{% endblock content %}

{% block scripts %}
<script src="{% static "ovc_main/js/vendor/jquery.quicksearch.js" %}"></script>
 <script src="{% static "ovc_main/js/forms_general.js" %}"></script>
 <script src="{% static "ovc_main/js/general/multiselect-searchable.js" %}"></script>
 <script src="{% static "ovc_main/js/vendor/range_integer_fields.js" %}"></script>
 <script src="{% static "ovc_main/js/vendor/jquery.jstepper.min.js" %}"></script>
 <script>
 $(document).ready(function() {
 
 //Initializations for interger fields
	//http://jstepper.emkay.dk/
	$("#id_form_type").val('FT2c');
	
	$('#id_Q074').jStepper({minValue:0, maxValue:12, minLength:1});
	$('#id_Q077').jStepper({minValue:0, maxValue:70.0, minLength:1});
	
 if($("#id_org_assessing_wfc").val()=="")
    {
    	$("#id_org_assessing_wfc").empty();
    	$("#id_org_assessing_wfc").append("<option value=''>-----</option>");
    }
  

  var dob = '{{subject.date_of_birth}}';  
  var dod = new Date();
  
  if('{{subject.date_of_death}}' != 'None')
  {
  	dod = '{{subject.date_of_death}}';
  }
  
 $("#id_date_assessment_comp").datepicker(
    {
        maxDate: isDate(dod)?new Date(dod):'0',
        minDate: isDate(dob)?new Date(dob):'-100',
        dateFormat: 'd MM yy',
        yearRange: "1904:2030",
        changeMonth: true,
        changeYear: true
    });
    
  
  $("#id_date_assessment_comp").prop("min",dob); 
  $("#id_date_assessment_comp").prop("max",dod); 
 
    
  $("#submit_wfc_assessment_form").prop("disabled",true);
  
  $('.controls').on('change',function(){
  	$("#submit_wfc_assessment_form").removeAttr("disabled");
  });
  
  $('.checkbox').on('ifChanged',function(){
  	$("#submit_wfc_assessment_form").removeAttr("disabled");
  });
  
  $(".autocompletefrmwfc").autocomplete({
                source: function (request, response) {
                    $.getJSON("/forms/ben_wfc_autocomplete?wfc_name=" + request.term, function (data) {
                        response($.map(data, function (value, key) {
                            return {
                                label: concatenatearray(value),
                                value: value
                            };

                        }));
                    });
                },
                minLength: 1,
                delay: 100,
                select: function (event, ui) {
                    // feed workforce id hidden field
                    loadOrgs(ui.item.value[0],true);
                    $('#id_wfc_id_hidden').val(ui.item.value[0]);
                    event.preventDefault();
                }
            }); 
            
   concatenatearray = function(tmparray, startindex, separator)
    {
        var charseparator = separator? separator:'\t';
        var sindex = startindex? startindex:1;
        var result = [];
        for(i=sindex; i < tmparray.length; i++){
            if(tmparray[i] == null || tmparray[i] == '')
                continue;
           result.push(tmparray[i]);
        }
        
        return result.join(charseparator)
    }
    
    if($('#id_wfc_id_hidden').val() != '' && $('#id_wfc_id_hidden').val() != null)
    {
    	loadOrgs($('#id_wfc_id_hidden').val(),false);
    }
    
   $( "#id_wfc_assessing_wfc" ).keypress(function() {
        $('#id_wfc_id_hidden').val('');
    });
            
   $( "#id_wfc_assessing_wfc" ).on( "autocompleteselect", function( event, ui ) {
        var result = concatenatearray(ui.item.value);
        $( "#id_wfc_assessing_wfc" ).val(result);
        $("#submit_wfc_assessment_form").removeAttr("disabled");
    });
	
	function loadOrgs(wfc_id,preselect){
        $.ajax({
                dataType: "json",
                url: "/forms/get_wfc_object?wfc_id=" + wfc_id,
                contentType: "application/json; charset=utf-8",
                async: false,
                success: function (orgs) {
                	if(preselect == true)
                	{
	                    $("#id_org_assessing_wfc").empty();
	                    $('<option>').val("").text('-----').appendTo("#id_org_assessing_wfc");
                    }
                    $.each(orgs, function (key, val) {
                    	if($('#id_org_assessing_wfc option[value='+key+']').length == 0)
                    	{
 							if(key != -1)
	                    	{
	                    		$('<option>').val(key).text(val).appendTo("#id_org_assessing_wfc");
	                        }
						}
                    	
                    });
                    //clean up
                    $("#id_org_assessing_wfc > option").each(function() {
                    	var found = false;
                    	var valToSearch = this.value;
	                    $.each(orgs, function (key, val) {
	                    	if(valToSearch.toString() == key.toString())
	                    	{
	                    		found = true;
	                    	}
	                    });
	                    if(!found && valToSearch != "")
	                    {
	                    	$("#id_org_assessing_wfc option[value='"+valToSearch+"']").remove();
	                    }
					});
					
                    $.each(orgs, function (key, val) {
                    	if(key == -1 && preselect)
                    	{
                    		if ($('#id_org_assessing_wfc').val() != val)
                            {
                                $('#id_org_assessing_wfc').val('' + val + '');
                            }
                    	}
                    });
                }
            });
	
	}
	
	$(".autocompletepaired").autocomplete({
                source: function (request, response) {
                    $.getJSON("/forms/ben_wfc_autocomplete?wfc_name=" + request.term, function (data) {
                        response($.map(data, function (value, key) {
                            return {
                                label: concatenatearray(value),
                                value: value
                            };

                        }));
                    });
                },
                minLength: 1,
                delay: 100,
                select: function (event, ui) {
                    event.preventDefault();
                }
     });
	
	$( "#id_Q073_control" ).on( "autocompleteselect", function( event, ui ) {
        var result = concatenatearray(ui.item.value);
        $("#id_Q073_control").val(result);
        $("#id_Q073").val(result);
        $("#submit_wfc_assessment_form").removeAttr("disabled");
    }); 
    
    if($( "#id_Q073" ).val() != "" && $( "#id_Q073" ).val() != null)
    {
    	$.ajax({
                dataType: "json",
                url: "/forms/ben_wfc_autocomplete?wfc_id=" + $( "#id_Q073" ).val(),
                contentType: "application/json; charset=utf-8",
                success: function (reg_wfc) {
                	var wfc_val = [];
                    $.each(reg_wfc, function (key, value) {
                        console.log(key +' : '+ value);
                        wfc_val.push(value);
                    });
                    if(wfc_val.length > 0)
                    {
                    	$( "#id_Q073_control" ).val(wfc_val.join('\t'));
                    	$( "#id_Q073" ).val();
                    }
                }
            });
    }
    
    $("#id_Q073_control" ).keypress(function() {
        $('#id_Q073').val('');
    });
    
    if($("#id_Q070").val()!='78')
	{
    	$('.criminal').hide();
    }
    
    $("#id_Q070").on('change',function(){
    	if($("#id_Q070").val()=='78')
		{
			$('.criminal').show();
		}
		else
		{
			$('.criminal').hide();
			$("#id_Q071").val('');
		}
    });
    
    if(!($("#id_Q072").val()=='80' || $("#id_Q072").val()=='81' || $("#id_Q072").val()=='82'))
	{
		$('.literacy').hide();
    }
    
    $("#id_Q072").on('change',function(){
    	if($("#id_Q072").val()=='80' || $("#id_Q072").val()=='81' || $("#id_Q072").val()=='82')
		{
			$('.literacy').show();
		}
		else
		{
			$('.literacy').hide();
			$("#id_Q073").val('');
		}
    });
	
	customValidate = function(e){
		if($("#id_date_assessment_comp").val() != null && $("#id_date_assessment_comp").val() != "")
		{
			if(isDate($("#id_date_assessment_comp").val()))
			{
				//$('input[name="date_assessment_comp"]')[0].setCustomValidity("");
				var enteredDate = $.datepicker.formatDate('d-MM-yy', new Date($("#id_date_assessment_comp").val()));
				
				parsedEnteredDate = Date.parse(enteredDate);
				parsedDateOfBirth = Date.parse(dob);
				parsedDateOfDirth = Date.parse(dod);
				
				if(parsedEnteredDate < parsedDateOfBirth || parsedEnteredDate > parsedDateOfDirth)
				{
					$('input[name="date_assessment_comp"]')[0].setCustomValidity("This field must be between the subject workforce's date of birth and (today's date or date of death)");
				}
				else
				{
					$('input[name="date_assessment_comp"]')[0].setCustomValidity("");
				}
			}
			else
			{
				$('input[name="date_assessment_comp"]')[0].setCustomValidity("Please enter a valid date in this field.");
			}
			
			if($("#id_wfc_id_hidden").val() == "" || $("#id_wfc_id_hidden").val() == null)
			{
				$('input[name="wfc_assessing_wfc"]')[0].setCustomValidity("This field is required, please enter a valid workforce in this field");
			}
			else
			{
				$('input[name="wfc_assessing_wfc"]')[0].setCustomValidity("");
			}
		}
		
		if($("#id_Q073_control").val() != null && $("#id_Q073_control").val() != "")
		{
			if($("#id_Q073").val() == "" || $("#id_Q073").val() == null)
			{
				$('input[name="Q073_control"]')[0].setCustomValidity("Please enter and select a registered workforce member in this field");
			}
			else
			{
				$('input[name="Q073_control"]')[0].setCustomValidity("");
			}
		}
		
		if($("#id_Q073").val() != null && $("#id_Q073").val() != "")
		{
			var spVals = $("#id_Q073").val();
			var val = spVals.split('\t');
			$("#id_Q073").val(val[0])
		}
		
	}
	
	function isDate(val) {
	    var d = new Date(val);
	    return !isNaN(d.valueOf());
	}
	
	//checkWorkforcePermission();
	function checkWorkforcePermission(){
        $.ajax({
                dataType: "json",
                url: "/forms/get_wfc_object?get_perms='True'",
                contentType: "application/json; charset=utf-8",
                async: false,
                success: function (perms) {
                	var has_search_perm = false;
                    $.each(perms, function (key, val) {
                    	if(key != -1)
                    	{
                    		if(val == "auth.enter frm high sensitive")
                    		{
                    			has_search_perm = true;
                    		}
                        }
                    });
                    
                    if(!has_search_perm)
                    {
                    	$.each(perms, function (key, val) {
	                    	if(key == -2)
	                    	{
	                    		$('#id_wfc_id_hidden').val(val);
	                    		loadOrgs(val, true);
	                        }
	                        else if(key == -3)
	                        {
	                        	$('#id_wfc_assessing_wfc').val(val);
	                        	$('#id_wfc_assessing_wfc').prop("disabled",true);
	                        }
                    	});
                    }
                }
        });
	}
	
	if($("#id_wfc_assessing_wfc_hidden").val() != "" && $("#id_wfc_assessing_wfc_hidden").val() != null)
	{
		$("#id_wfc_assessing_wfc").val($("#id_wfc_assessing_wfc_hidden").val());
		$("#id_wfc_id_hidden").val($("#id_hidden_wfc_id_hidden").val());
	}
    
  });
</script>
{% endblock scripts %}
