{% extends "main_base.html" %}
{% load static %}
{% load crispy_forms_tags %}
{% block page_title %}{{ app_name }} | Workforce training form {% endblock %}
{% block navbar_class_dashboard %}{% endblock %}
{% block navbar_class_registries %}{% endblock %}
{% block navbar_class_workforce %}{% endblock %}

{% block body_page_title %} Workforce training form {% endblock %}
{% block breadcrum %}
<li class="hidden"><a href="#"> Workforce training form </a>&nbsp;&nbsp;<i class="fa fa-angle-right"></i>&nbsp;&nbsp;</li>
<li> Workforce training form </li>
{% endblock breadcrum %}

{% block content %}
{% crispy form %}
{% endblock %}

{% block scripts %}
<script src="{% static "ovc_main/js/vendor/jquery.quicksearch.js" %}"></script>
<script src="{% static "ovc_main/js/forms_general.js" %}"></script>
<script src="{% static "ovc_main/js/general/multiselect-searchable.js" %}"></script>
<script src="{% static "ovc_main/js/workforce_training.js" %}"></script>
<script>

$('.datepicker').datepicker(
        {
            //minDate: "-18Y",
            dateFormat: 'd-MM-yy',
            yearRange: "1904:2050",
            maxDate: 0,
            changeMonth: true,
            changeYear: true
        });

		function duplicateOrgsDetected(org_unit_id){
			var count = 0;
			var toReturn = false;
			$("#valid_orgs_data").text("");
			$("#valid_orgs_data").css('display','None');
			$("#organisationContributionTable tr").each(function(i, v){
				$(this).children('td').each(function(ii, vv){
					if($(this).attr("id") == 'org_unit_id'){
						if($(this).text() == org_unit_id){
							count++;
						}
						if(count>=1){
							toReturn = true;
						}
					}													
				});
			});
			return toReturn;
		}

		function addOrgData() {
			var org_unit_name = $("#id_org_unit_name").val();
			var org_unit_id = $("#id_org_unit_id").val();
			//var org_contribution_id = $("#id_org_contribution_id").val();
			var cont_count = 0;
			var org_contribution = $("input[name=organisation_contribution]:checked").map(function() {
				return $(this).closest('label').text();
			}).get().join(" - ")
			var org_contribution_id = $("input[name=organisation_contribution]:checked").map(function() {
				cont_count = cont_count + 1;
				return this.value;
			}).get().join(" - ")

			$("#valid_orgs_data").text("");
			$("#valid_orgs_data").css('display', 'None');

			if(duplicateOrgsDetected(org_unit_id)){
				$("#valid_orgs_data").text('This organisation unit has already been added');
				$("#valid_orgs_data").show();
				return;
			}

			if(org_unit_id === ''){
				$("#valid_orgs_data").text('Please select an organisation unit by typing in the "Organisation unit" textbox');
				$("#valid_orgs_data").show();
				return;
			}

			if(cont_count === 0){
				$("#valid_orgs_data").text('Please select atleast one contribution');
				$("#valid_orgs_data").show();
				return;
			}

			populateOrgRow(org_unit_name, org_unit_id, org_contribution_id, org_contribution);

			updateOrgStatusData();
			clearOrgForm();
		}

		//Called on load or refresh
		populateOrgTable();
		function populateOrgTable() {
			var org_data = $("#id_org_contributions_data").val();
			if (org_data === '') {
				return;
			}
			var org_data_items = JSON.parse(org_data);
			$.each(org_data_items, function (index) {
				var org_unit_name = org_data_items[index].org_unit_name;
				var org_unit_id = org_data_items[index].org_unit_id;
				var org_contribution_id = org_data_items[index].org_contribution_id;
				var org_contribution = org_data_items[index].org_contribution;

				populateOrgRow(org_unit_name, org_unit_id, org_contribution_id, org_contribution);
			});
		}

		function populateOrgRow(org_unit_name, org_unit_id, org_contribution_id, org_contribution) {

			$("#organisationContributionTable").find('tbody')
					.append($('<tr>')
							.append($('<td id="org_unit_name" class="orgdata">')
									.append($('<label>')
											.text(org_unit_name)
											)
									)
							.append($('<td id="org_unit_id" class="orgdata">')
									.append($('<label>')
											.text(org_unit_id)
											)
									)
							.append($('<td id="org_contribution" class="not_saving">')
									.append($('<label>')
											.text(org_contribution)
											)
									)
							.append($('<td id="org_contribution_id" class="orgdata">')
									.append($('<label>')
											.text(org_contribution_id)
											)
											.css('display', 'None')
											.css('width', '1%')
									)
							.append($("<td class='not_saving'> <button onclick='removeOrgRow()' class='removebutton'><i class='fa fa-trash fa-2'></i></button></td>"))
							);
		}

		function removeOrgRow() {
			$(document).on('click', 'button.removebutton', function () {
				$(this).closest('tr').remove();
				updateOrgStatusData();
				return false;
			});
		}

		function updateOrgStatusData() {
			var data = getTableDataAsJsonString('organisationContributionTable');
			$("#id_org_contributions_data").val(data);
		}

		function clearOrgForm() {
			$('#id_organisational_unit').val('');
			$('#id_org_unit_id').val('');
			$('#id_org_unit_name').val('');
			$( 'input[id="id_organisation_contribution_1"]').iCheck('uncheck');
            $( 'input[id="id_organisation_contribution_2"]').iCheck('uncheck'); 
			$( 'input[id="id_organisation_contribution_3"]').iCheck('uncheck');
            $( 'input[id="id_organisation_contribution_4"]').iCheck('uncheck'); 
			$( 'input[id="id_organisation_contribution_5"]').iCheck('uncheck');
		}

		function duplicateWfcsDetected(workforce_member_id, workforce_member_nrc){
			var count = 0;
			var toReturn = false;
			$("#valid_orgs_data").text("");
			$("#valid_orgs_data").css('display','None');
			$("#organisationContributionTable tr").each(function(i, v){
				$(this).children('td').each(function(ii, vv){
					if($(this).attr("id") == 'workforce_id' || $(this).attr("id") == 'workforce_nrc'){
						if($(this).text() !== ''){
							if($(this).text() !== workforce_member_id || $(this).text() !== workforce_member_nrc){
								count++;
							}
						}
						if(count>=1){
							toReturn = true;
						}
					}													
				});
			});
			return toReturn;
		}

		function addWorkforceData() {
			var workforce_member_id = $("#id_workforce_member_id").val();
			var workforce_member_nrc = $("#id_workforce_member_nrc").val();
			var workforce_member_name = $("#id_workforce_member_name").val();
			var participation_level = $("#id_participation_level option:selected").text();
			var participation_level_id = $("#id_participation_level").val();
			
		    $("#valid_workforce_data").text("");
			$("#valid_workforce_data").css('display', 'None');

			if(duplicateWfcsDetected(workforce_member_id, workforce_member_nrc)){
				$("#valid_orgs_data").text('This organisation unit has already been added');
				$("#valid_orgs_data").show();
				return;
			}

			if(workforce_member_id === ''){
				$("#valid_workforce_data").text('Please select a workforce member by typing in the "Workforce member" textbox');
				$("#valid_workforce_data").show();
				return;
			}

			if(participation_level_id === ''){
				$("#valid_workforce_data").text('Please select the participation level');
				$("#valid_workforce_data").show();
				return;
			}

			populateWfcRow(workforce_member_id, workforce_member_nrc, workforce_member_name, participation_level, participation_level_id);

			updateWfcStatusData();
			clearWfcForm();
		}

		//Called on load or refresh
		populateWfcTable();
		function populateWfcTable() {
			var wfc_data = $("#id_workforce_member_data").val();
			if (wfc_data === '') {
				return;
			}
			var wfc_data_items = JSON.parse(wfc_data);
			$.each(wfc_data_items, function (index) {
				var workforce_member_id = wfc_data_items[index].workforce_id;
				var workforce_member_nrc = wfc_data_items[index].workforce_nrc;
				var workforce_member_name = wfc_data_items[index].workforce_name;
				var participation_level = wfc_data_items[index].participation_level;
				var participation_level_id = wfc_data_items[index].participation_level_id;

				populateWfcRow(workforce_member_id, workforce_member_nrc, workforce_member_name, participation_level, participation_level_id);
			});
		}

		function populateWfcRow(workforce_member_id, workforce_member_nrc, workforce_member_name, participation_level, participation_level_id) {

			$("#workforceContributionTable").find('tbody')
					.append($('<tr>')
							.append($('<td id="workforce_id" class="wfcdata">')
									.append($('<label>')
											.text(workforce_member_id)
											)
									)
							.append($('<td id="workforce_nrc" class="wfcdata">')
									.append($('<label>')
											.text(workforce_member_nrc)
											)
									)
							.append($('<td id="workforce_name" class="not_saving">')
									.append($('<label>')
											.text(workforce_member_name)
											)
									)
							.append($('<td id="participation_level" class="not_saving">')
									.append($('<label>')
											.text(participation_level)
											)
									)
							.append($('<td id="participation_level_id" class="wfcdata">')
									.append($('<label>')
											.text(participation_level_id)
											)
											.css('display', 'None')
											.css('width', '1%')
									)
							.append($("<td class='not_saving'> <button onclick='removeWfcRow()' class='removebutton'><i class='fa fa-trash fa-2'></i></button></td>"))
							);
		}

		function removeWfcRow() {
			$(document).on('click', 'button.removebutton', function () {
				$(this).closest('tr').remove();
				updateWfcStatusData();
				return false;
			});
		}

		function updateWfcStatusData() {
			var data = getTableDataAsJsonString('workforceContributionTable');
			$("#id_workforce_member_data").val(data);
		}

		function clearWfcForm() {
			$('#id_workforce_member').val('');
			$('#id_workforce_member_id').val('');
			$('#id_workforce_member_nrc').val('');
			$('#id_workforce_member_name').val('');
			$('#id_participation_level').val('');
		}

		function getTableDataAsJsonString(table_name, startindex) {
			var data = {};
			var sindex = startindex ? startindex : 1;
			$("#" + table_name + " tr").each(function (i, v) {
				if (i < sindex) {
					return;
				}
				data[i] = {};
				$(this).children('td').each(function (ii, vv) {
					data[i][this.id] = $(this).text();
				});
			});
			return JSON.stringify(data);
		}
	

</script>
{% endblock %}
