<div class="container-fluid">
	

				<input type="hidden" id="onloadformid" value="{{onloadformid}}"></input>
				<div class="input-icon col-md-3">
					<i class="fa fa-search"></i>
					<input type="text" id="searchtext" class="form-control" placeholder="Search records..."></input>
				</div>
				
				<div class="col-md-2">
					<select class="form-control" id="datesearchattribute">
						<option value="">----</option>
						<option value="onafter">On or after</option>
						<option value="on">On</option>
					</select>
				</div>
				
				<div class="input-icon col-md-3">
					<i class="fa fa-calendar"></i>
					<input type="text" id="datetosearch" class="datepicker form-control" placeholder="Choose date here...">
					
				</div>
				
				<div class="col-md-1">
					<button class="btn btn-primary" id="searchbtn-basic-service"><i class="fa fa-search"></i> Search </button>
				</div>
				
				<div class="col-md-2">
					<a id="add_record" class="btn btn-success"><i class="fa fa-plus"></i> Add new record</a>
				</div>

		<div class="col-md-12">
			<table id="service-referral-records" class="table table-hover table-striped table-bordered table-advanced">
			<caption style="visibility:hidden"> Previous records</caption>
				<thead>
					<tr>
						<th>Date</th>
						<th>Beneficiary</th>
						<th>Encounter type</th>
						<th>Services provided</th>
						<th>Referrals made</th>
						<th>Referrals completed</th>
						<th>New adverse conditions</th>
						<th>Actions</th>
					</tr>
				</thead>
				<tbody>
					<tr class="noresultsrow">
						<td colspan="8">
							Search to reveal results to edit.
						</td>
					</tr>
				</tbody>
			</table>
		</div>

</div>

