 <div class='col-md-12'>
	<dl class='dl-horizontal col-md-4'>
	  <dt>ZOMIS ID:</dt>
	  <dd>{{subject.workforce_id}}</dd>
	</dl>
	 
	 <dl class='dl-horizontal col-md-4'>
	  <dt>First name:</dt>
	  <dd>{{subject.first_name}}</dd>
	</dl>

	<dl class='dl-horizontal col-md-4'>
	  <dt>Surname:</dt>
	  <dd>{{subject.surname}}</dd>
	</dl>
	
	<dl class='dl-horizontal col-md-4'>
	  <dt>Sex:</dt>
	  <dd>{{subject.sex}}</dd>
	</dl>


	<dl class='dl-horizontal col-md-4'>
	  <dt>NRC:</dt>
	  <dd>{{subject.national_id}}</dd>
	</dl>
	
	<dl class='dl-horizontal col-md-4'>
	  <dt>Date of birth:</dt>
	  <dd>{{subject.date_of_birth}}</dd>
	</dl>
	
	<div class="row">
		<div class="col-md-6 col-md-offset-2">
			<dl class="dl-horizontal">
				  <dt style="width:auto">Current primary organisational unit:&nbsp;&nbsp;</dt>
				  <dd>{{subject.primary_org_unit_name}}</dd>
			</dl>
		</div>
		<div class="col-md-6 col-md-offset-2">
			<dl class="dl-horizontal">
				  <dt style="width:auto">Other parent organisational unit(s):&nbsp;&nbsp;</dt>
				  <dd>
				  {% for org in subject.org_units %}
				  	{%if org.primary_org == "No"%}
				  		{{org.org_name}};
				  		{% endif %}
				  {% endfor %}
				  </dd>
			</dl>
		</div>
		<div class="col-md-6 col-md-offset-2">
			<dl class="dl-horizontal">
				  <dt style="width:auto">Communities where working:&nbsp;&nbsp;</dt>
				  <dd>{{subject.communities_string}}</dd>
			</dl>
		</div>
		<div class="col-md-6 col-md-offset-2">
			<dl class="dl-horizontal">
				  <dt style="width:auto">Geographical areas where working:&nbsp;&nbsp;</dt>
				  <dd>{{subject.locations_unique_readable|join:"; "}};</dd>
			</dl>
		</div>
	</div>
</div>

	
