<!DOCTYPE html>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<html>
    <head>
        <title>TODO supply a title</title>
        <meta charset="windows-1252">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
    </head>
    <body>
        <form action="/test/" method="POST">
               {% csrf_token  %}
               <select name="w0011">
                   <option></option>
                   <option value="1">employed</option>
                   <option value="2">dismissed</option>
                   <option value="3">retired</option>
                   <option value="4">not intested</option>
               </select>
               <select name="w0011">
                   <option></option>
                   <option value="2">student</option>
                   <option value="3">cleaner</option>
                   <option value="4">technician</option>
               </select>
            <button type="submit">submit</button>
        </form>

    </body>
</html>
