{% load crispy_forms_filters %}
{% load l10n %}



<div class="controls {%if field.errors%} has-error {%endif%}"{% if flat_attrs %} {{ flat_attrs|safe }}{% endif %}>
	{% if form_show_errors and field.errors %}
    {% for error in field.errors %}
        <span id="error_{{ forloop.counter }}_{{ field.auto_id }}" class="help-block"><strong>{{ error }}</strong></span>
    {% endfor %}
{% endif %}
    {% for choice in field.field.choices %}
        {%if forloop.first or forloop.counter == 20 %}
            <ul class="col-md-5" style="list-style: none;">
        {% endif %}
        <li>
            <label>
                <input type="checkbox"{% if choice.0 in field.value or choice.0|stringformat:"s" in field.value or choice.0|stringformat:"s" == field.value|stringformat:"s" %} checked="checked" {% endif %}               
                       name="{{ field.html_name }}" 
                       id="id{{ field.html_name }}{{ forloop.counter }}" 
                       value="{{ choice.0|unlocalize }}" 
                       {{ field.field.widget.attrs|flatatt }}>
                 {{ choice.1|unlocalize }}
            </label>
         </li>
         {% if forloop.last or forloop.counter == 19%}
            </ul>
         {% endif %} 
 {% endfor %}

</div>
