{% extends "main_base.html" %}
{% load crispy_forms_tags %}
{% block page_title %}{{ app_name }} | Allocate Roles {% endblock %}
{% block navbar_class_dashboard %}{% endblock %}
{% block navbar_class_registries %}active{% endblock %}
{% block navbar_class_workforce %}active{% endblock %}

{% block body_page_title %} Allocate Roles{% endblock %}
{% block breadcrum %}
<li class="hidden"><a href="#">Allocate Roles</a>&nbsp;&nbsp;<i class="fa fa-angle-right"></i>&nbsp;&nbsp;</li>
                    <li>Allocate Roles</li>
{% endblock breadcrum %}
{% block content %}
	<div class="form-horizontal">
	<form method="POST" action="/allocate_role/">
		{% csrf_token %}
		
		<p/>
		
		
		
		<div class="multiField">
			<div class="panel panel-grey" >
				<div class="panel-heading" >
		       		Workforce/user details
				</div>
				<div class="panel-body pan" ><p/> 
					<div class='col-md-9'>
						<dl class='dl-horizontal col-md-4'>
						  <dt>ZOMIS ID:</dt>
						  <dd>{{workforce.workforce_id}}</dd>
						  <input type='hidden' name='workforceid' value={{workforceid}} />
						 </dl>
						 <dl class='dl-horizontal col-md-4'>
						  <dt>First name:</dt>
						  <dd>{{workforce.first_name}}</dd>
						</dl>
						<dl class='dl-horizontal col-md-4'>
						  <dt>Surname:</dt>
						  <dd>{{workforce.surname}}</dd>
						</dl>
					</div>

					<div class='col-md-9'>
						<dl class='dl-horizontal col-md-4'>
						  <dt>Sex:</dt>
						  <dd>{{workforce.sex}}</dd>
						 </dl>
						 <dl class='dl-horizontal col-md-4'>
						  <dt>NRC:</dt>
						  <dd>{{workforce.national_id}}</dd>
						</dl>
						<dl class='dl-horizontal col-md-4'>
						  <dt>Date of birth:</dt>
						  <dd>{{workforce.date_of_birth}}</dd>
						</dl>
					</div>
				</div>
			</div>
			
	
			{%if 'auth.assign role non org spec' in perms%}
			<div class="panel panel-grey" >
				<div class="panel-heading" >
				       Roles - non restricted
				</div>
				
				<div class="panel-body pan" ><p/> 
					<div class="col-lg-9">
						{% for role, checked in rowfielddetails.non%}
							{% if role.group_id != 'PUB'%}
							<label {% if role.group_id == 'STD'%} style='display:none'{% endif %}><input type='checkbox'  name='{{role.group_id}}' {% if role.group_id == 'STD'%} checked {% else %} {{checked}} {% endif %} aria-describedby="helpBlock"><span> {{role.group_name}}</span> </label>
							{% if role.group_id != 'STD'%}<br/>{% endif %}
							<!--label> <strong> {{role.role_description}}</strong></label><p/-->
							<span id="helpBlock" class="help-block" {% if role.group_id == 'STD'%}style='display:none'{% endif %}>{{role.group_description}}</span>
							{% endif %}
						{% endfor %}
					</div>
				</div>
			</div>
			
			
			<div class="panel panel-grey" >
				<div class="panel-heading" >
				       Role - in geographical area
				</div>
				<div class="panel-body" ><p/> 
					<div class="col-lg-4">
						<table class="table table-bordered">
							
									
						{% for rowdetails in rowfielddetails.geo %}
							{% if forloop.first %}
								<thead>
									<tr>
										<th class="col-md-1">Districts</th>
										{% for rolecolumn in rowdetails.columns %}
										<th class="col-md-1">{{rolecolumn.group_name}}</th>
										{% endfor %}
							
									</tr>
								</thead>
								<tbody>
							{% endif %}
								<tr>
									<td>{{rowdetails.dstname}}</td>
									{% for rolecolumn in rowdetails.columns %}
										<td><input type=checkbox name="{{rolecolumn.group_id}}" value={{rowdetails.dstid}} {{rolecolumn.checked}}></td>
									{% endfor %}
								</tr>
								{% if forloop.last %}
								</tbody>
							{% endif %}
						{% endfor %}
						
							</table>
					</div>
				</div>
			</div>
			{% endif %}

		<div class="panel panel-grey" >
			<div class="panel-heading" >
				       Roles - in organisational unit
			</div>
			<div class="panel-body pan" ><p/> 
				<div class="col-lg-11">
						<table class="table table-bordered">
						
						{% for rowdetails in rowfielddetails.org %}
							{% if forloop.first %}
								<thead>
									<tr>
										<th class="col-md-1">Organisation Unit</th>
										<th class="col-md-1">Primary Parent</th>
										
										{% for rolecolumn in rowdetails.columns %}
										<th class="col-md-1">{{rolecolumn.group_name}}</th>
										{% endfor %}
							
									</tr>
								</thead>
								<tbody>
							{% endif %}
								<tr>
									<td>{{rowdetails.orgname}}</td>
									<td>{{rowdetails.isprimaryorg}}</td>
									{% for rolecolumn in rowdetails.columns %}
										<td><input type=checkbox name="{{rolecolumn.group_id}}" value={{rowdetails.orgid}} {{rolecolumn.checked}}></td>
									{% endfor %}
								</tr>
								{% if forloop.last %}
								</tbody>
							{% endif %}
						{% endfor %}
						
							
							
						</table>
						
					</div>
			</div>
		</div>
		
		<div class="panel panel-grey" >
			<div class="panel-heading" >
			       General system access
			</div>
			<div class="panel-body pan"><p/> 
				<div class="col-lg-9">
					<label>
						<input type='checkbox' name='resetpassword' aria-describedby="helpBlock">
						<span> Reset password</span> 
					</label><br/>
					<span id="helpBlock" class="help-block">By ticking this, the user's password will be reset to a new password and sent to the user by SMS and/or email</span>
				<p>
					<label>
						<input id="user_active" type=radio name='userstate' aria-describedby="helpBlock" value="activate" {%if rowfielddetails.user_is_active%}checked{%endif%}>
						<span> Active (can send SMSes or log in to ZOMIS)</span> 
					</label><br/>
					<label>
						<input id="user_deactive" type=radio name='userstate' aria-describedby="helpBlock" value="deactivate" {%if not rowfielddetails.user_is_active%}checked{%endif%}>
						<span> Deactivate (may not send SMSes or log in to ZOMIS)</span><br/>
						<span id="info-user-active" style="color:red; display:none" class="help-block">By ticking deactivate, this user will not be able to log in to ZOMIS</span>
					</label><br/>
					
					
				</div>
		</div>
		
	</div>
	<div class="md-col-6" style="margin-left:41%">
		<a type="button" href="/workforce/wfcsearch/" class="btn btn-primary"><i class="fa fa-pencil-square-o"></i> Cancel</a>
		<button type=submit class="btn btn-success"><i class="fa fa-arrow-circle-o-left"></i> Save</button>
	</div>
	
</div>
</form>
</div>
{% endblock content %}
{%block scripts%}
	<script>
		$(document).ready(function() {
		    $("input[id='user_active']").on('ifChecked',function(){
		    	$('#info-user-active').hide();
		    
		    });
		    $("input[id='user_deactive']").on('ifChecked',function(){
				$('#info-user-active').show();
		    
		    });
		});
</script>
{% endblock scripts%}