{% extends "main_base.html" %}
{% load static %}
{% load crispy_forms_tags %}
{% block page_title %}{{ app_name }} | Beneficiary lookup {% endblock %}
{% block navbar_class_dashboard %}{% endblock %}
{% block navbar_class_registries %}active{% endblock %}
{% block navbar_class_beneficiary %}active{% endblock %}


{% block body_page_title %} <i class="fa fa-child fa-4"></i> Beneficiary lookup {% endblock %}
{% block breadcrum %}
<li class="hidden"><a href="#">Beneficiary lookup</a>&nbsp;&nbsp;<i class="fa fa-angle-right"></i>&nbsp;&nbsp;</li>
                    <li>Beneficiary lookup</li>
{% endblock breadcrum %}


{% block content %}

<form class="form-inline" role="form">
	{% if 'auth.ben lookup' in perms %}
	<div class="form-group">

			<select data-style="btn-white" data-size="8" class="selectpicker form-control" name='bentype' id='bentype'>
		    	{% for id,type in ben_types %}
		    		<option value={{id}}>{{type|truncatechars:60}}</option>
		    	{% endfor %}
			</select>

	</div>
  	<div class="form-group">
    	<div class="input-group">

      			<input id="searchbentxt" type="text" class="form-control input-large search-query" placeholder="Search guardians or children..."/><span class="input-group-btn"><a type="button" id="searchbtnben" class="btn btn-primary searchbtn">Lookup</a></span>

    	</div>
    </div>
    {% endif %}
    
    {% if 'auth.reg ben' in perms and not is_capture_app %}
    <div class="form-group">
	
	    <div class="actions pull-right">
	     	<a href="/beneficiary/guardian/" class="btn btn-info"><i class="fa fa-plus"></i>&nbsp; Register new guardian...</a>
	        <a href="/beneficiary/child/" class="btn btn-info"><i class="fa fa-plus"></i>&nbsp; Register new child...</a>&nbsp;
		</div>
    
    </div>
    {% endif %}
    
    
 </form>

 <p>
 <div class="row">
                    <div class="col-lg-12">
                        <div class="portlet box">
                            <div class="portlet-header">
                                

                            </div>
                            <div class="portlet-body">
                                <div class="row mbm">
                                    <div class="col-lg-12">
                                        <div style="display: none;" class="alert alert-danger tb-alert-error">
                                            <button type="button" data-dismiss="alert" aria-hidden="true" class="close">&times;</button>
                                            Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                                        </div>
                                        <div style="display: none" class="alert alert-success tb-alert-success">
                                            <button type="button" data-dismiss="alert" aria-hidden="true" class="close">&times;</button>
                                            Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                                        </div>
                                    </div>
                                </div>
                                
                                
                                <div class="row mbm">
                                    <div class="col-lg-6">
                                        <div class="pagination-panel">Page
                                            &nbsp;<a href="#" class="btn btn-sm btn-default btn-prev gw-prev disabled"><i class="fa fa-angle-left"></i></a>&nbsp;<input type="text" maxlenght="5" value="{{pageinfo.pagenumber}}" class="pagination-panel-input form-control input-mini input-inline input-sm text-center gw-page" disabled="disabled"/>&nbsp;
                                            {% if pageinfo.pagescount == 1%}
                                            <a href="#" class="btn btn-sm btn-default btn-prev gw-nextben disabled"><i class="fa fa-angle-right"></i></a>&nbsp;
                                            {% else %}
                                            <a href="#" class="btn btn-sm btn-default btn-prev gw-nextben"><i class="fa fa-angle-right"></i></a>&nbsp;
                                            {% endif %}
                                            {% if 'auth.ben lookup' in perms %}
                                            of&nbsp;<label class="countpages"> {{pageinfo.pagescount}} </label>&nbsp; page(s)
                                            &nbsp;| View <select class="form-control input-xsmall input-sm input-inline gw-pageSizeben">
                                                <option value="25" selected="selected">25</option>
                                                <option value="50">50</option>
                                                <option value="100">100</option>
                                                <option value="150">150</option>
                                                <option value="-1">All</option>
                                            </select>&nbsp;
                                           <span class="searching" style="display:none"><i class="fa fa-spinner fa-spin"></i>...</span> |&nbsp; <label class="totalrecords"> {{pageinfo.total_records}} Beneficiary(s) found</label>
                                           {% endif %}
                                        </div>
                                    </div>
                                 	<div>
                                 		<!--where the success message used to be, in case we want to revert to it.-->
                    				</div>
                                    
                                </div>

                                
                                <table class="table table-hover table-striped table-bordered table-advanced tablesorter orgresults" id="benresults">
                                    <thead>
                                    <tr>
			                            <th>NRC / Birth cert / Beneficiary ID</th>
			                            <th>Name</th>
			                            <th>Date of birth</th>
			                            <th>Sex</th>
			                            <th>Type</th>
			                            <th>Community</th>
			                            <th>Ward</th>
			                            <th>District</th>
                                                    {% if not is_capture_app %}
			                            <th>Actions</th>
                                                    {% endif %}
                                    </tr>
                                   	</thead>
                                   	<tbody class="tbodyresults">
                                   	{% if 'auth.ben lookup' in perms %}
	                                   	{% if not bens_list %}
	                                   	<tr><td colspan="9">no results</td></tr>
	                                   	{% else %}
	                                   	{% include "ovc_main/beneficiary_table_list.html" %}
	                                   	{% endif %}
                                   	{% else %}
                                   		<tr><td colspan="9">You do not have permission to perform beneficiary lookups.  If you wish to find the ID of a beneficiary, please contact another person in your organisation who has this permission.</td></tr>
                                   	{% endif %}
                                    </tbody>
                                </table>
                                
                                
                                <div class="row mbm">
                                    <div class="col-lg-6">
                                        <div class="pagination-panel">Page
                                            &nbsp;<a href="#" class="btn btn-sm btn-default btn-prev gw-prev disabled"><i class="fa fa-angle-left"></i></a>&nbsp;<input type="text" maxlenght="8" value="{{pageinfo.pagenumber}}" class="pagination-panel-input form-control input-mini input-inline input-sm text-center gw-page" disabled/>&nbsp;
                                             {% if pageinfo.pagescount == 1%}
                                            <a href="#" class="btn btn-sm btn-default btn-prev gw-nextben disabled"><i class="fa fa-angle-right"></i></a>&nbsp;
                                            {% else %}
                                            <a href="#" class="btn btn-sm btn-default btn-prev gw-nextben class="fa fa-angle-right"></i></a>&nbsp;
                                            {% endif %}
                                            {% if 'auth.ben lookup' in perms %}
                                            of&nbsp;<label class="countpages"> {{pageinfo.pagescount}} </label>&nbsp; page(s)
                                            &nbsp;| View<select class="form-control input-xsmall input-sm input-inline gw-pageSizeben">
                                                <option value="25" selected="selected">25</option>
                                                <option value="50">50</option>
                                                <option value="100">100</option>
                                                <option value="150">150</option>
                                                <option value="-1">All</option>
                                            </select>
                                            {% endif %}
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

{% endblock content %}
{% block scripts %}
<script src="{% static "ovc_main/js/beneficiary_general.js" %}"></script>
<script>
$(document).ready(function () {
    $('.testcheckbox').iCheck({
        checkboxClass: 'state icheckbox_minimal-green hover',
        radioClass: 'state icheckbox_minimal-green hover',
        increaseArea: '20%' // optional
    });
    {% if pageinfo.success %}
    	toastr.success('{{pageinfo.success}}', 'Beneficiary',{ timeOut: 0 }); 
    {% endif %}
});
</script>
{% endblock scripts %}
