{% extends "main_base.html" %}
{% load static %}
{% load crispy_forms_tags %}
{% block page_title %}{{ app_name }} | Change Password {% endblock %}
{% block navbar_class_dashboard %}{% endblock %}


{% block body_page_title %} Change Password {% endblock %}
{% block breadcrum %}
<li class="hidden"><a href="#">Change Password</a>&nbsp;&nbsp;<i class="fa fa-angle-right"></i>&nbsp;&nbsp;</li>
                    <li>Change Password</li>
{% endblock breadcrum %}
{% block content %}
	<div class="form-horizontal"></p>
		
		<form action='/change_password/'  class="uniForm passwordform" method="post">
			<!--below is a workaround to avoid the password fields being prefilled : http://stackoverflow.com/questions/15738259/disabling-chrome-autofill-->
			<input style="display:none" type="text" name="fakeusernameremembered"/>
			<input style="display:none" type="password" name="fakepasswordremembered"/>
			<input style="display:none" type="password" name="fakepasswordremembered"/>
			<!--end of workaround to avoid the password fields being prefilled -->
			{% crispy form %}
		




		</div>
	<div class="md-col-6" style="margin-left:41%">
		<a type="button" href="/home/" class="btn btn-primary"><i class="fa fa-pencil-square-o"></i> Cancel</a>
		<button type="submit" class="btn btn-success"><i class="fa fa-arrow-circle-o-left"></i> Change Password</button>
	</div>
	</form>
</div>
{% endblock content %}
{% block scripts %}
<script src="{% static "themeforest_uadmin/vendors/jquery-validate/jquery.validate.min.js" %}"></script>
<script>

$(".passwordform").validate({
        errorPlacement: function(error, element)
        {
            error.insertAfter(element);
        }
    });
 </script>
{% endblock scripts %}