{% load crispy_forms_field %}

<div class="col-md-5">
	<div class="col-md-6">
		{%if form.is_update_page %}
		<label style="{{field_style}}">Guardian change date:</label>
		{% endif %}
	</div>
	<div class="col-md-5">
		{% crispy_field field %}
	</div>
	<div class="col-md-11">
	{% if form_show_errors and field.errors %}
	    {% for error in field.errors %}
	        <span id="error_{{ forloop.counter }}_{{ field.auto_id }}" class="error-block" style="color:#BB4442"><strong>{{ error }}</strong></span>
	    {% endfor %}
	{% endif %}
	</div>
</div>