{% load crispy_forms_field %}
<div class="col-md-3">
	<label for="id_duration_of_training" class="control-label col-md-12 requiredField">
					Duration of event:<span class="asteriskField">*</span></label>
</div>
<div class="col-md-3">
	{% crispy_field field %}
</div>