{% load crispy_forms_field %}

<div class="col-md-1">
	{% crispy_field field %}
</div>
<div class="col-md-5">
	{% if form_show_errors and field.errors %}
		{% for error in field.errors %}
			<span id="error_{{ forloop.counter }}_{{ field.auto_id }}" class="error-block" style="color:#BB4442;font-size: 14px"><strong>{{ error }}</strong></span>
		{% endfor %}
	{% endif %}
</div>