
<!DOCTYPE html>
<html lang="en">
    <head><title>{% block page_title %}{{ app_name }} | Dashboard {% endblock %}</title>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="cache-control" content="no-cache">
        <meta http-equiv="expires" content="Thu, 19 Nov 1900 08:52:00 GMT">
        {% load static %}
        <link rel="shortcut icon" href="{% static "themeforest_uadmin/images/icons/favicon.ico" %}">
              <link rel="apple-touch-icon" href="{% static "themeforest_uadmin/images/icons/favicon.png" %}">
              <link rel="apple-touch-icon" sizes="72x72" href="{% static "themeforest_uadmin/images/icons/favicon-72x72.png" %}">
              <link rel="apple-touch-icon" sizes="114x114" href="{% static "themeforest_uadmin/images/icons/favicon-114x114.png" %}">
              <!--Loading bootstrap css-->
              <link type="text/css" rel="stylesheet" href="{% static "themeforest_uadmin/vendors/jquery-ui-1.10.4.custom/css/ui-lightness/jquery-ui-1.10.4.custom.min.css" %}">
              <link type="text/css" rel="stylesheet" href="{% static "themeforest_uadmin/vendors/font-awesome/css/font-awesome.min.css" %}">
              <link type="text/css" rel="stylesheet" href="{% static "themeforest_uadmin/vendors/bootstrap/css/bootstrap.min.css" %}">
              <!--LOADING STYLESHEET FOR PAGE-->
              <link type="text/css" rel="stylesheet" href="{% static "themeforest_uadmin/vendors/select2/select2-madmin.css" %}">
              <link type="text/css" rel="stylesheet" href="{% static "themeforest_uadmin/vendors/intro.js/introjs.css" %}">
              <link type="text/css" rel="stylesheet" href="{% static "themeforest_uadmin/vendors/calendar/zabuto_calendar.min.css" %}">
              <link type="text/css" rel="stylesheet" href="{% static "themeforest_uadmin/vendors/sco.message/sco.message.css" %}">
              <link type="text/css" rel="stylesheet" href="{% static "themeforest_uadmin/vendors/intro.js/introjs.css" %}">
				<link type="text/css" rel="stylesheet" href="{% static "themeforest_uadmin/vendors/jquery-tablesorter/themes/blue/style-custom.css" %}">
              <link type="text/css" rel="stylesheet" href="{% static "themeforest_uadmin/vendors/bootstrap-select/bootstrap-select.min.css" %}">
              <link type="text/css" rel="stylesheet" href="{% static "themeforest_uadmin/vendors/multi-select/css/multi-select-madmin.css" %}">
              <link type="text/css" rel="stylesheet" href="{% static "themeforest_uadmin/vendors/jquery-toastr/toastr.min.css" %}">    

              <!--Loading style vendors-->
              <link type="text/css" rel="stylesheet" href="{% static "themeforest_uadmin/vendors/animate.css/animate.css" %}">
              <link type="text/css" rel="stylesheet" href="{% static "themeforest_uadmin/vendors/jquery-pace/pace.css" %}">
              <link type="text/css" rel="stylesheet" href="{% static "themeforest_uadmin/vendors/iCheck/skins/all.css" %}">
              <link type="text/css" rel="stylesheet" href="{% static "themeforest_uadmin/vendors/jquery-notific8/jquery.notific8.min.css" %}">
              <!--Loading style-->
              <link type="text/css" rel="stylesheet" href="{% static "themeforest_uadmin/css/themes/style1/yellow-green.css" %}" class="default-style">
              <link type="text/css" rel="stylesheet" href="{% static "themeforest_uadmin/css/style-responsive.css" %}">
              <link type="text/css" rel="stylesheet" href="{% static "ovc_main/css/ovc_ims.css" %}">
              <!--link rel="stylesheet" href="http://code.jquery.com/ui/1.11.0/themes/smoothness/jquery-ui.css"-->
    </head>
    <body>
        <div><!--BEGIN BACK TO TOP--><a id="totop" href="#"><i class="fa fa-angle-up"></i></a><!--END BACK TO TOP--><!--BEGIN TOPBAR-->
            <div id="header-topbar-option-demo" class="page-header-topbar">
                <nav id="topbar" role="navigation" style="margin-bottom: 0; z-index: 2;" class="navbar navbar-default navbar-static-top">
                    <div class="navbar-header">
                        <button type="button" data-toggle="collapse" data-target=".sidebar-collapse" class="navbar-toggle">
                        	<span class="sr-only">Toggle navigation</span>
                        	<span class="icon-bar"></span>
                        	<span class="icon-bar"></span>
                        	<span class="icon-bar"></span>
                        </button>
                        <a id="logo" href="/home/" class="navbar-brand">
                        	<img src="{% static "ovc_main/images/ZCoAZomis.png"%}" class="banner-img">
                        	<!--span class="logo-text">{{ app_name }}</span-->
                        	
                        	<span style="display: none" class="logo-text-icon"><img src="{% static "ovc_main/images/ZCoAZomis.png"%}" class="img-circle"></span>
                        </a>
                    </div>
                    <div class="topbar-main">
                        <span class="header-text col-md-5">Zambia Orphans and Vulnerable Children Management Information System</span>
                        {% if user.is_authenticated %}
                        <ul class="nav navbar navbar-top-links navbar-right mbn">
                            <li class="dropdown topbar-user">
                                <a data-hover="dropdown" href="#" class="dropdown-toggle">
                                    <span class="hidden-xs"><i class="fa fa-user"></i> {{user.get_full_name}}</span>&nbsp;<span class="caret"></span></a>
                                <ul class="dropdown-menu dropdown-user pull-right">
                                    {% if not is_capture_site %}
                                    <li><a href="/change_password/"><i class="fa fa-lock"></i>Change password</a></li>
                                    {% endif %}
                                    <li><a href="/logout/"><i class="fa fa-key"></i>Logout</a></li>
                                </ul>
                            </li>
                            <li id="topbar-help">
                            	<a href="{% static "templates/ovc_main/ZOMIS_help_html/HTML/index.html" %}" target="_blank">
                            		<i class="glyphicon glyphicon-question-sign"></i>
                            	</a>
                            </li>

                        </ul>
                        {% endif %}
                    </div>
                </nav>
            </div>
            <!--END TOPBAR-->
            <div id="wrapper"><!--BEGIN SIDEBAR MENU-->
                {% block sidebar %}
                <nav id="sidebar" role="navigation" class="navbar-default navbar-static-side">
                    <div class="sidebar-collapse menu-scroll">
                        <ul id="side-menu" class="nav">
                            <li><a href="#"></a></li>
                            {% if not user.is_authenticated %}
                            <li class="{% block navbar_class_home%}{% endblock %}"><a href="/home/"><i class="fa fa-home fa-fw">
                                        <div class="icon-bg bg-orange"></div>
                                    </i><span class="menu-title">Home</span></a></li>
                            {% endif %}
                            
                            <li class="{% block navbar_class_dashboard %}{% endblock %}"><a href="/home/home_dashboard/"><i class="fa fa-tachometer fa-fw">
                                        <div class="icon-bg bg-orange"></div>
                                    </i><span class="menu-title">Dashboard</span></a></li>
                            <li class="{% block navbar_class_registries %}{% endblock %}"><a href="#"><i class="fa fa-laptop fa-fw">
                                        <div class="icon-bg bg-pink"></div>
                                    </i><span class="menu-title">Registries</span><span class="fa arrow"></span></a>
                                <ul class="nav nav-second-level">
                                    {% if 'auth.org view' in perms or 'auth.update org contact rel' in perms or 'auth.update org special' or 'auth.update org contact' in perms	or 'auth.update org general' in perms%}
                                    <li class="{% block navbar_class_org_unit %}{% endblock %}"><a href="/organisation/"><i class="fa fa-university"></i><span class="submenu-title">Organisational Units</span></a>
                                    </li>
                                    {% endif %}
                                     {% if user.is_authenticated %}
                                    <li class="{% block navbar_class_workforce %}{% endblock %}"><a href="/workforce/wfcsearch/"><i class="fa fa-user"></i><span class="submenu-title">Workforce/User</span></a></li>
                                    <li class="{% block navbar_class_beneficiary %}{% endblock %}"><a href="/beneficiary/ben_search"><i class="fa fa-child"></i><span class="submenu-title">Beneficiaries</span></a></li>
                                    {% endif %}
                                </ul>
                            </li>
                           
                             {% if user.is_authenticated %}
	                            <li class="{% block navbar_class_forms %}{% endblock %}"><a href="/forms/forms_home/"><i class="fa fa-pencil-square-o fa-fw">
	                                        <div class="icon-bg bg-orange"></div>
	                                    </i><span class="menu-title">Forms</span></a>
	                            </li>
	                          {% endif %}
	                        
                            <li class="{% block navbar_class_reports %}{% endblock %}"><a href="/reports/reports_and_analysis/"><i class="fa fa-bar-chart-o fa-fw">
                                        <div class="icon-bg bg-orange"></div>
                                    </i><span class="menu-title">Reports and analysis</span></a>
                            </li>
                            
                            <li class="{% block navbar_class_library %}{% endblock %}"><a href="/library/"><i class="fa fa-book fa-fw">
                                        <div class="icon-bg bg-orange"></div>
                                    </i><span class="menu-title">Digital Library</span></a>
                            </li>
                            {% if user.is_authenticated %}
                            <li class="{% block navbar_class_administration %}{% endblock %}"><a href="#"><i class="fa fa-wrench fa-fw">
                                        <div class="icon-bg bg-orange"></div>
                                    </i><span class="menu-title">Administration</span><span class="fa arrow"></span></a>
                                <ul class="nav nav-second-level">
                                	{% if debug and False %}
                                	<li class="{% block navbar_class_sites_admin %}{% endblock %}">
                                    	<a href="/capture/sites_admin/"><i class="fa fa-cogs"></i>
                                    	<span class="submenu-title">Capture sites admin</span></a>
                                   	</li>
                                    {% if is_capture_site %}
                                    <li class="{% block navbar_class_capture_initial_setup %}{% endblock %}">
                                    	<a href="/capture/intial_site_setup/"><i class="fa fa-key"></i>
                                    	<span class="submenu-title">Capture site setup</span></a>
                                   	</li>
                                    {% endif %}
                                    {% endif %}
                                    <li class="{% block navbar_class_capture_admin %}{% endblock %}">
                                    	<a href="/capture/capture_admin/"><i class="fa fa-download"></i>
                                    	<span class="submenu-title">Upload/download tool</span></a>
                                   </li>
                                   
                                    
                                </ul>
                            </li>
                            {% endif %}
                        </ul>

                    </div>
                </nav>
                {% endblock sidebar %}
                <!--END SIDEBAR MENU-->

				
                <div id="page-wrapper"><!--BEGIN TITLE & BREADCRUMB PAGE-->
				{% block pagebody%}
                    <div id="title-breadcrumb" class="page-title-breadcrumb">
                        <div class="page-header pull-left">
                            <div class="page-title">{% block body_page_title %} Dashboard {% endblock %}</div>
                        </div>
                        <ol class="breadcrumb page-breadcrumb pull-right">
                            <li><i class="fa fa-home"></i>&nbsp;<a href="/home/">Home</a>&nbsp;&nbsp;<i class="fa fa-angle-right"></i>&nbsp;&nbsp;</li>
                            {% block breadcrum %}<li class="hidden"><a href="#">Dashboard</a>&nbsp;&nbsp;<i class="fa fa-angle-right"></i>&nbsp;&nbsp;</li>
                            <li class="active">Dashboard</li>{% endblock breadcrum %}
                        </ol>
                        <div class="clearfix"></div>
                    </div>

                    <!--END TITLE & BREADCRUMB PAGE--><!--BEGIN CONTENT-->
                    <div class="page-content">
                        {% block content %}
                        <div id="tab-general">
                            <div id="sum_box" class="row mbl">
                                <div class="col-sm-6 col-md-3">
                                    <div class="panel task db mbm">
                                        <div class="panel-body"><p class="icon"><i class="icon fa fa-signal"></i></p><h4 class="value"><span>215</span></h4>
                                            <p class="description">Number of OVCs Reached</p>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-sm-6 col-md-3">
                                    <div class="panel visit db mbm">
                                        <div class="panel-body"><p class="icon"><i class="icon fa fa-group"></i></p><h4 class="value"><span>128</span></h4>
                                            <p class="description">Number of Organisational Units</p>
                                        </div>
                                    </div>
                                </div>
                            </div>



                        </div>
                        {% endblock content %}
                    </div>
                    <!--END CONTENT-->
                {% endblock pagebody%}
                </div>
                
                <!--BEGIN FOOTER-->
                <div id="footer">
                    <div class="copyright"></div>
                </div>
                <!--END FOOTER--><!--END PAGE WRAPPER--></div>
        </div>

        
        <script src="{% static "themeforest_uadmin/js/jquery-1.10.2.min.js" %}"></script>
        <script src="{% static "themeforest_uadmin/vendors/jquery-ui-1.10.4.custom/js/jquery-ui-1.10.4.custom.js" %}"></script>
        <script src="{% static "themeforest_uadmin/js/jquery-migrate-1.2.1.min.js" %}"></script>
        <script src="{% static "themeforest_uadmin/js/jquery-ui.js" %}"></script>
        <!--loading bootstrap js-->
        
        <script src="{% static "themeforest_uadmin/vendors/bootstrap/js/bootstrap.min.js" %}"></script>
        <script src="{% static "themeforest_uadmin/vendors/bootstrap-hover-dropdown/bootstrap-hover-dropdown.js" %}"></script>
        <script src="{% static "themeforest_uadmin/js/html5shiv.js" %}"></script>
        <script src="{% static "themeforest_uadmin/js/respond.min.js" %}"></script>
        <script src="{% static "themeforest_uadmin/vendors/metisMenu/jquery.metisMenu.js" %}"></script>
        <script src="{% static "themeforest_uadmin/vendors/slimScroll/jquery.slimscroll.js" %}"></script>
        <script src="{% static "themeforest_uadmin/vendors/jquery-cookie/jquery.cookie.js" %}"></script>
        <script src="{% static "themeforest_uadmin/vendors/iCheck/icheck.min.js" %}"></script>
        <script src="{% static "themeforest_uadmin/vendors/iCheck/custom.min.js" %}"></script>
        <script src="{% static "themeforest_uadmin/vendors/jquery-notific8/jquery.notific8.min.js" %}"></script>
        <script src="{% static "themeforest_uadmin/vendors/jquery-highcharts/highcharts.js" %}"></script>
        <script src="{% static "themeforest_uadmin/js/jquery.menu.js" %}"></script>
        <script src="{% static "themeforest_uadmin/vendors/jquery-pace/pace.min.js" %}"></script>
        <script src="{% static "themeforest_uadmin/vendors/holder/holder.js" %}"></script>
        <script src="{% static "themeforest_uadmin/vendors/responsive-tabs/responsive-tabs.js" %}"></script>
        <!--CORE JAVASCRIPT-->
        <script src="{% static "themeforest_uadmin/js/main.js" %}"></script>
        
        <!--LOADING SCRIPTS FOR PAGE-->
        <script src="{% static "themeforest_uadmin/vendors/jquery-toastr/toastr.min.js" %}"></script>
        <script src="{% static "themeforest_uadmin/js/ui-toastr-notifications.js" %}"></script>
        <script src="{% static "themeforest_uadmin/vendors/sco.message/sco.message.js" %}"></script>
        <!--<script src="{% static "themeforest_uadmin/js/index.js" %}"></script-->
        <script src="{% static "themeforest_uadmin/vendors/select2/select2.min.js" %}"></script>
        <script src="{% static "themeforest_uadmin/vendors/bootstrap-select/bootstrap-select.min.js" %}"></script>
        <script src="{% static "themeforest_uadmin/vendors/multi-select/js/jquery.multi-select.js" %}"></script>
        <script src="{% static "themeforest_uadmin/js/ui-dropdown-select.js" %}"></script>
        {% block scripts %}
        {% endblock scripts %}
    </body>
</html>