{% extends "main_base.html" %}
{% load static %}
{% load crispy_forms_tags %}
{% block page_title %}{{ app_name }} | Setup status{% endblock %}
{% block navbar_class_dashboard %}{% endblock %}
{% block navbar_class_registries %}{% endblock %}
{% block navbar_class_org_unit %}{% endblock %}
{% block navbar_class_administration %}active{% endblock %}
{% block navbar_class_capture_initial_setup %}active{% endblock %}
{% block body_page_title %} <i class="fa fa-plus fa-6"></i> Initial site setup {% endblock %}
{% block breadcrum %}
<li class="hidden"><a href="#">Download / upload tool</a>&nbsp;&nbsp;<i class="fa fa-angle-right"></i>&nbsp;&nbsp;</li>
<li>Capture initial setup</li>
{% endblock breadcrum %}

{% block content %}
<div class="container">
    <div class="row">
    {% if status == 1 %}
    	<i class="fa fa-hourglass-start fa-5x"></i>
    	<h1>This {{siteinfo.capture_site_name}} is yet to be approved.</h1>
	{% elif status = 3%}
		<i class="fa fa-hand-paper-o fa-5x"></i>
		<h1>This {{siteinfo.capture_site_name}} was declined. Contact ZOMIS administrator.</h1>
	{% endif %}
	</div>
</div>

{% endblock content %}

{% block scripts %}
{% endblock scripts %}
