{% extends "main_base.html" %}
{% load static %}
{% load crispy_forms_tags %}
{% block page_title %}{{ app_name }} | Setup capture site {% endblock %}
{% block navbar_class_dashboard %}{% endblock %}
{% block navbar_class_registries %}{% endblock %}
{% block navbar_class_org_unit %}{% endblock %}
{% block navbar_class_administration %}active{% endblock %}
{% block navbar_class_capture_initial_setup %}active{% endblock %}
{% block body_page_title %} <i class="fa fa-plus fa-6"></i> Initial site setup {% endblock %}
{% block breadcrum %}
<li class="hidden"><a href="#">Download / upload tool</a>&nbsp;&nbsp;<i class="fa fa-angle-right"></i>&nbsp;&nbsp;</li>
<li>Capture initial setup</li>
{% endblock breadcrum %}

{% block content %}
<div class="container">
    <div class="row">

		{% crispy form %}
	</div>
</div>

{% endblock content %}

{% block scripts %}
{% endblock scripts %}
