{% extends "main_base.html" %}
{% load crispy_forms_tags %}
{% block page_title %}{{ app_name }} | Digital Library view {% endblock %}
{% block navbar_class_dashboard %}{% endblock %}
{% block navbar_class_registries %}active{% endblock %}
{% block navbar_class_workforce %}active{% endblock %}

{% block body_page_title %} View details - Digital Library{% endblock %}

{% block breadcrum %}
    <li>Digital library details</li>
{% endblock breadcrum %}

{% block content %}
    <div class="form-horizontal">
        <div class="multiField">
            <div class="panel panel-primary">
                <div class="panel-heading">
                    Library upload information
                </div>
                <div class="panel-body pan"><p/>

                    <div id="div_id_org_name" class="form-group">
                        <label for="id_org_name" class="control-label col-md-3">Title</label>

                        <div class="col-md-6">
                            <p class="form-control-static" style="word-wrap: break-word;"><strong>{{ document.document_title }}</strong></p>
                        </div>
                    </div>
                    <div id="div_id_org_name" class="form-group">
                        <label for="id_org_name" class="control-label col-md-3">Keywords</label>

                        <div class="col-md-6">
                            <p class="form-control-static" style="word-wrap: break-word;"><strong>{{ document.document_keywords }}</strong></p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="panel panel-primary">
                <div class="panel-heading">
                    Type of Document
                </div>
                <div class="panel-body pan"><p/>

                    <div id="div_id_org_name" class="form-group">
                        <label for="id_org_name" class="control-label col-md-2"></label>

                        <div class="col-md-6">
                            <ul>
                                {% for item in document.document_types %}
                                    <li>{{ item }}</li>
                                {% endfor %}
                            </ul>
                        </div>
                    </div>

                </div>
            </div>
            <div class="panel panel-primary">
                <div class="panel-heading">
                    Service area(s)
                </div>
                <div class="panel-body pan"><p/>

                    <div id="div_id_org_name" class="form-group">
                        <label for="id_org_name" class="control-label col-md-2"></label>

                        <div class="col-md-6">
                            <ul>
                                {% for item in document.document_service_area %}
                                    <li>{{ item }}</li>
                                {% endfor %}
                            </ul>
                        </div>
                    </div>

                </div>
            </div>
            <div class="panel panel-primary">
                <div class="panel-heading">
                    Geography
                </div>
                <div class="panel-body pan"><p/>

                    <div id="div_id_org_name" class="form-group">
                        <label for="id_org_name" class="control-label col-md-3">Level</label>

                        <div class="col-md-6">
                            <p class="form-control-static"><strong>{{ document.geographic_relevancy }}</strong></p>
                        </div>
                    </div>

                    {% if document.geographic_area %}
                        <div id="div_id_org_name" class="form-group">
                            <label for="id_org_name" class="control-label col-md-3">Selected</label><p></p>

                            <div class="col-md-6">
                                <ul>
                                    {% for item in document.geographic_area %}
                                        <li>{{ item }}</li>
                                    {% endfor %}
                                </ul>
                            </div>
                        </div>
                    {% endif %}


                </div>
            </div>
            <div class="panel panel-primary">
                <div class="panel-heading">
                    Document Stage
                </div>
                <div class="panel-body pan"><p/>

                    <div id="div_id_org_name" class="form-group">
                        <label for="id_org_name" class="control-label col-md-3">Stage</label>

                        <div class="col-md-6">
                            <p class="form-control-static"><strong>{{ document.stage }}</strong></p>
                        </div>
                    </div>
                    <div id="div_id_org_name" class="form-group">
                        <label for="id_org_name" class="control-label col-md-3">Notes</label>

                        <div class="col-md-6">
                            <p class="form-control-static" style="word-wrap: break-word;"><strong>{{ document.stage_notes }}</strong></p>
                        </div>
                    </div>
                </div>
            </div>
            <!--
            <div class="panel panel-primary">
                <div class="panel-heading">
                    Organisational unit type
                </div>

                <div class="panel-body pan"><p/>

                    <div id="div_id_organisation_type" class="form-group">
                        <label for="id_organisation_type" class="control-label col-md-3">Organisational unit
                            type</label>

                        <div class="col-md-6">
                            <p class="form-control-static"><strong>{{ organisation.unit_type_name }}</strong></p>
                        </div>

                    </div>
                    <div id="div_id_legal_registration_type" class="form-group">
                        <label for="id_legal_registration_type" class="control-label col-md-3">
                            Legal registration type</label>

                        <div class="col-md-6">
                            <p class="form-control-static">
                                <strong>{{ organisation.legalregistrationtype_name }}</strong></p>
                        </div>
                    </div>
                    <div id="div_id_legal_registratiom_number" class="form-group">
                        <label for="id_legal_registratiom_number" class="control-label col-md-3">
                            Legal registration number</label>

                        <div class="col-md-6">
                            <p class="form-control-static"><strong>{{ organisation.registrationnumber }}</strong></p>
                        </div>
                    </div>
                </div>
            </div>
-->
            <div class="panel panel-primary">
                <div class="panel-heading">
                    Accessibility
                </div>
                <div class="panel-body pan"><p/>

                    <div id="div_id_org_name" class="form-group">
                        <label for="id_org_name" class="control-label col-md-3">Access Level</label>

                        <div class="col-md-6">
                            <p class="form-control-static"><strong>{{ document.availability }}</strong></p>
                        </div>
                    </div>
                </div>
            </div>


        </div>

        <div class="md-col-6" style="margin-left:41%">
            <span>
                <a type="button" href="/library" class="btn btn-success">
                    <i class="fa fa-arrow-circle-o-left"></i>Back
                </a>
            </span>
        </div>
    </div>
{% endblock content %}