{% extends 'main_base.html' %}
{% load static %}
{% load crispy_forms_tags %}
{% block page_title %}{{ app_name }} | Digital Library Home {% endblock %}
{% block navbar_class_dashboard %}{% endblock %}
{% block navbar_class_registries %}{% endblock %}
{% block navbar_class_beneficiary %}{% endblock %}
{% block navbar_class_forms %}{% endblock %}
{% block navbar_class_library %}active{% endblock %}

{% block body_page_title %} <i class="fa fa-book fa-4"></i> Digital Library home{% endblock %}

{% block breadcrum %}
    <li class="hidden">
        <a href="#">Digital Library Home</a>&nbsp;&nbsp;<i class="fa fa-angle-right"></i>&nbsp;&nbsp;
    </li>
    <li>Digital Library</li>
{% endblock breadcrum %}

{% block content %}

    <div class="row">

        <!-- document_type_list -->
        <div class="form-group col-md-4">
            <select data-style="btn-white" data-size="8" class="selectpicker form-control"
                    name='document_type_list_name'
                    id='document_type_list'>
                {% for id, item_description in document_type_list %}
                    <option value={{ id }}>{{ item_description|truncatechars:60 }}</option>
                {% endfor %}
            </select>
        </div>

        <!-- service_area_list -->
        <div class="form-group col-md-3">
            <select data-style="btn-white" data-size="8" class="selectpicker form-control" name='service_area_list_name'
                    id='service_area_list'>
                {% for id, item_description in service_area_list %}
                    <option value={{ id }}>{{ item_description|truncatechars:60 }}</option>
                {% endfor %}
            </select>

        </div>

        <!-- Search library... -->
        <div class="col-md-3">
            <input id="searchlibrarytxt" name="searchlibrarytxt_name" type="text" class="form-control search-query col-md-12"
                   placeholder="Search library..."/>
        </div>

        <!-- Search -->
        <a type="button" id="searchlibrary" class="btn btn-primary searchbtn"><i class="fa fa-search"></i> Search</a>

        <!-- Upload New -->
        {% if 'auth.add doc library' in perms and not is_capture_app %}
            <a href="/library/new/" class="btn btn-info"><i class="fa fa-plus"></i> Upload New</a>
        {% endif %}

    </div>

    <p>

    <div class="row">
        <div class="col-lg-12">
            <div class="portlet box">
                <div class="portlet-header"></div>
                <div class="portlet-body">
                    <div class="row mbm">
                        <div class="col-lg-6">
                            <div class="pagination-panel">Page
                                &nbsp;<a href="#" class="btn btn-sm btn-default btn-prev gw-prev disabled"><i
                                        class="fa fa-angle-left"></i></a>&nbsp;<input type="text" maxlenght="5"
                                                                                      value="{{ pageinfo.pagenumber }}"
                                                                                      class="pagination-panel-input form-control input-mini input-inline input-sm text-center gw-page"
                                                                                      disabled="disabled"/>&nbsp;
                                {% if pageinfo.pagescount == 1 %}
                                    <a href="#" class="btn btn-sm btn-default btn-prev gw-next disabled"><i
                                            class="fa fa-angle-right"></i></a>&nbsp;
                                {% else %}
                                    <a href="#" class="btn btn-sm btn-default btn-prev gw-next"><i
                                            class="fa fa-angle-right"></i></a>&nbsp;
                                {% endif %}
                                of&nbsp;<label class="countpages"> {{ pageinfo.pagescount }} </label>&nbsp; page(s)
                                &nbsp;| View <select
                                        class="form-control input-xsmall input-sm input-inline gw-pageSize">
                                    <option value="25" selected="selected">25</option>
                                    <option value="50">50</option>
                                    <option value="100">100</option>
                                    <option value="150">150</option>
                                    <option value="-1">All</option>
                                </select>&nbsp;
                                <span class="searching" style="display:none"><i
                                        class="fa fa-spinner fa-spin"></i>...</span>
                                |&nbsp;
                                <label class="totalrecords"> {{ pageinfo.total_records }} Document(s) found</label>
                            </div>
                        </div>

                    </div>

                    <table class="table table-hover table-striped table-bordered table-advanced tablesorter libraryresults"
                           id="libraryresults">
                        <thead>
                        <tr>
                            <th>Title</th>
                            <th>Document type(s)</th>
                            <th>Keywords</th>
                            <th>Service area(s)</th>
                            <th>Geo links</th>
                            {% if not is_capture_app %}
                                <th>Action</th>
                            {% endif %}
                        </tr>
                        </thead>
                        <tbody class="tbodyresults">
                        {% if not documents_list %}
                            <tr>
                                <td colspan="5">no results</td>
                            </tr>
                        {% else %}
                            {% include "library_table_json.html" %}
                        {% endif %}
                        </tbody>
                    </table>

                    <div class="row mbm">
                        <div class="col-lg-6">
                            <div class="pagination-panel">Page
                                &nbsp;<a href="#" class="btn btn-sm btn-default btn-prev gw-prev disabled"><i
                                        class="fa fa-angle-left"></i></a>&nbsp;<input type="text" maxlenght="5"
                                                                                      value="{{ pageinfo.pagenumber }}"
                                                                                      class="pagination-panel-input form-control input-mini input-inline input-sm text-center gw-page"
                                                                                      disabled/>&nbsp;
                                {% if pageinfo.pagescount == 1 %}
                                    <a href="#" class="btn btn-sm btn-default btn-prev gw-next disabled"><i
                                            class="fa fa-angle-right"></i></a>&nbsp;
                                {% else %}
                                    <a href="#" class="btn btn-sm btn-default btn-prev gw-next"><i
                                            class="fa fa-angle-right"></i></a>&nbsp;
                                {% endif %}
                                of&nbsp;<label class="countpages"> {{ pageinfo.pagescount }} </label>&nbsp; page(s)
                                &nbsp;| View<select class="form-control input-xsmall input-sm input-inline gw-pageSize">
                                    <option value="25" selected="selected">25</option>
                                    <option value="50">50</option>
                                    <option value="100">100</option>
                                    <option value="150">150</option>
                                    <option value="-1">All</option>
                                </select>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock content %}
{% block scripts %}
    <script src="{% static "js/library_home.js" %}"></script>
{% endblock scripts %}