{% extends 'main_base.html' %}
{% load static %}
{% load crispy_forms_tags %}
{% block page_title %}{{ app_name }} | Digital Library Home {% endblock %}
{% block navbar_class_dashboard %}{% endblock %}
{% block navbar_class_registries %}{% endblock %}
{% block navbar_class_beneficiary %}{% endblock %}
{% block navbar_class_forms %}{% endblock %}
{% block navbar_class_library %}active{% endblock %}

{% block body_page_title %} <i class="fa fa-book fa-4"></i> Upload new document{% endblock %}
{% block breadcrum %}
    <li class="hidden"><a href="#">Digital Library Home</a>&nbsp;&nbsp;<i class="fa fa-angle-right"></i>&nbsp;&nbsp;
    </li>
    <li>Digital Library</li>
{% endblock breadcrum %}

{% block content %}

    <div class="container">
        <div class="row">
            {% crispy form %}
        </div>
    </div>

    <script src="{% static "themeforest_uadmin/vendors/jquery-ui-1.10.4.custom/js/jquery-ui-1.10.4.custom.js" %}"></script>
    <script src="{% static "themeforest_uadmin/js/jquery-1.10.2.min.js" %}"></script>


{% endblock content %}
{% block scripts %}
    <script src="{% static "js/library.js" %}"></script>
{% endblock scripts %}
